<div class="data-set">
  <ion-accordion-group [multiple]="true"  [value]="['first']">
  <ion-accordion  value="first" toggleIcon="arrow-up-outline" toggleIconSlot="end">
   <ion-row slot="header" (click)="alternateClick($event)" class="gap table-head ion-align-items-center ion-justify-content-between">
   <div class="">
      <div id="head-line">
        <ion-label>{{tableName}}</ion-label> 
        <chip [name]="tableData().length + ' • ' + (stash.value| currency)"></chip>

      </div>

        <p>
          {{tableDescription}}
          <!-- SolanaHub a 1% fee for this service, and the amount reclaimed is paid in SOL. -->
        </p>
      
      <div class="ion-margin-button ion-hide-lg-down"></div>
    </div>
    <div style="display: flex; align-items: center; gap: 10px;    margin-inline-end: 15px;">

      @if(tableName.toLowerCase() === 'dust value'){
        <!-- <ion-col  size="3" sizeLg="2"> -->
          <div id="toggle-swap">
            <ion-toggle mode="md" [value]="swapTohubSOL" (ionChange)="onSwapTohubSOLChange($event.detail.value)" /><span>Swap to hubSOL</span>
          </div>
        <!-- </ion-col> -->
      }
      @if(tableName.toLowerCase() === 'zero value assets'){
        <div id="toggle-swap">
          <ion-toggle color="danger" mode="md" [value]="swapTohubSOL" (ionChange)="showUnknownSource($event)" /><span>Unknown source</span>
        </div>
      }
      <ion-button (click)="emitData()" id="action-btn" [disabled]="!selectedData().length" class="ion-text-capitalize">{{stash.actionTitle}} | {{selectedData().length}}</ion-button>
      @if(tableName.toLowerCase() === 'dust value'){
        <ion-button (click)="openRangeBox($event)" id="range-btn" fill="clear" ><ion-icon name="funnel-outline"/> <span>min. value</span> <chip [name]="portfolioShare + '%'"></chip></ion-button>
      }
   
    </div>
    
      <ion-button id="toggle-btn" fill="clear" (click)="toggleAccordion()"><ion-icon [class.flipArrow]="flipArrow" name="arrow-up-outline"/></ion-button>
 
  </ion-row>
  <app-mft 
    [checkBox]="true"
    slot="content"
    (onData)="selectedData.set($event)"
    [tableRows]="1000"
    [tableId]="'savings-table'+ tableName" 
    [tableColumns]="columns" 
    [tableData]="tableData"
     />
    </ion-accordion>
  </ion-accordion-group>
</div>
