<div id="quests-container">
  <div id="quests-header">
    <div id="quests-header-title">

      <ion-label>Quests Points</ion-label>
      <ion-text>Complete the following quests to receive extra points</ion-text>
    </div>
    <ion-img id="close-icon" (click)="closeQuestsPopover()" src="assets/images/close-icon.svg"/>
  </div>
  <div id="quests-body">
    @for (quest of quests; track quest.title) {
      <div class="quest-item">
        <div class="quest-item-icon">
          <img [src]="quest.icon" alt="quest-icon">
        </div>
        <div class="quest-item-content">
          <ion-label>{{quest.title}}</ion-label>
          <ion-text [innerHTML]="quest.description"></ion-text>
        </div>
        <div class="quest-pts" [class.completed]="quest.completed">+{{quest.pts}} pts</div>
        <div class="quest-action">
          @if (quest.completed) {
            <ion-img src="assets/images/ll/check-icon.svg"/>
        } @else {
            <ion-img src="assets/images/ll/uncheck-icon.svg"/>
        }
        </div>
      </div>
    }
  </div>
</div>
