#badge-container {
    display: inline-flex;
    padding: var(--spacing-xs, 4px) var(--spacing-md, 8px);
    align-items: center;
    gap: 4px;
    border-radius: var(--radius-full, 9999px);

    text-align: center;
    font-size: 13px;
    line-height: 18px;

    border: 1px solid #697586;
    background: #EEF2F6;
    color: #B93815;

    /* 138.462% */
    ion-img {
        width: 16px;
        height: 16px;
    }
    #badge-info {
        margin-inline-start: 4px;
    }
    &.degen {
        border: 1px solid #F9DBAF;
        background: #FEF6EE;
        color: #B93815;
    }
    
    &.manlet {
        border: 1px solid #7f56d9ad;
        background: rgb(166 132 240 / 10%);    
        color: var(--ion-color-secondary);
    }
    
    &.maxi {
        border: 1px solid #FEDF89;
        background: var(--ion-color-light)AEB;
        color: #ffc219;
    }
    
    &.diamond-hands {
        border: 1px solid #2E90FA;
        background: #EEF2F6;
        color: #2E90FA;
    }
}

