<div id="chart-breakdown">
  @if (assetClassValue()) {
  <ion-row style="width: 100%" class="ion-justify-content-between ion-align-items-center">
    
    <ion-col sizeXl="4" size="12">

        <div style="height: 140px; width: 140px;">
          <canvas #breakdownChart></canvas>
          
        </div>
 
    </ion-col>
    <ion-col sizeXl="8"  size="12" id="legend">
      <div id="title" class="ion-margin-bottom">
        Assets breakdown
      </div>
      @for (item of assetClassValue(); track $index) {
      <div class="asset-group">
        <div class="asset-type">
          <div class="group-color">
            <span [ngStyle]="{'background': item.color}"></span>
          </div>
          <div class="group-name">
            {{item.group}}
          </div>
        </div>
        <div class="asset-share">
          {{ utilService.percentPipe.transform(item.value / portfolioTotalValue(), '2.2')}}
        </div>
        <div class="asset-usd-value"  [ngClass]="{'private-balance': showBalance | async }">
          {{utilService.currencyPipe.transform(item.value)}}
        </div>
      </div>
      }
     
    </ion-col>
  </ion-row>
}@else{
  <ion-spinner style="margin: 0 auto;" color="primary" name="crescent"></ion-spinner>
}
</div>