<ion-label>Recipient’s  address</ion-label>
<ion-input #addressInput class="ion-hide"></ion-input>
<ion-input #maskAddressInput  (ionInput)="CheckAddress($event)">
  @if(validAddress && maskAddressInput.value){

  @if(showAddressToggle){
  <ion-icon aria-hidden="true" (click)="hideAddress()" slot="end" name="eye-outline"></ion-icon>
  }@else{
  <ion-icon aria-hidden="true" (click)="showAddress()" slot="end" name="eye-off-outline"></ion-icon>
  }
  }
</ion-input>
@if(!validAddress && maskAddressInput.value){
  <ion-text>invalid address</ion-text>
}