

#address-input{
    min-height: 94px;
    display: block;

    .native-wrapper {
        max-width: 85%;
    }
ion-label {
    display: block;
    text-transform: capitalize;
    color: var(--colors-text-text-secondary-700, var(--ion-color-dark));
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-block-end: 6px;
}
ion-input {
    margin-block-end: 6px;
    ion-icon {
        position: absolute;
        right: 10px;
        top: 12px;
        color: var(--ion-color-primary);
        z-index: 2;
        padding: 2px;
        cursor: pointer;
    }
}
ion-text {
    color: var(--ion-color-danger);
    font-size: 13px;
    line-height: 18px;
    /* 138.462% */
}

}