#nw-key {
    color: var(--ion-color-dark);;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: 0.18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nw-bal{
    display: flex;
    align-items: center;
}
#nw-val {
    color: var(--ion-color-dark);;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
}
ion-icon{
    color: var(--ion-color-primary);
    cursor: pointer;
    font-size: 25px;
    margin-inline-start: 8px;
    margin-block-end: 8px;
    line-height: 30px;
}
ion-skeleton-text{
    line-height: 48px;
    border-radius: 8px;
}




ion-toggle  {
    --handle-background: url(/assets/images/usdc.svg);
    --track-background-checked: #e7e7e7;
    &::part(handle) {
        // height: 10px;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
    }
    &::part(track) {
        width: 58px;
        --track-background: url(/assets/images/usdc-sol.svg);
        --track-background-checked: url(/assets/images/usdc-sol.svg);
        background-size: 78%;
        background-color: var(--ion-color-page-top);
        background-repeat: no-repeat;
        background-position: 58% center;
    }
    &.toggle-checked  {
        --handle-background-checked: url(/assets/images/sol.svg), white;
    }
}