#nw-key {
    color: #37264A;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: 0.18px;
}

#nw-val {
    color: #37264A;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
}

ion-skeleton-text{
    line-height: 48px;
    border-radius: 8px;
}