:host{
    margin-block-end: 10px;
    display: block;
}
.notif-wrapper{
    padding: 20px;
}
.notif-head {
    flex-wrap: wrap;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    div {

        display: flex;
        align-items: center;
    }

    margin-block-end: 8px;
}

ion-img {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin-inline-end: 6px;
    overflow: hidden;
}

ion-label {
    color: var(--ion-color-dark);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

animated-icon {
    width: 20px;
    height: 20px;
    margin-inline-end: 4px;
}

ion-chip {
    border: 1px solid #F1D5EB;
    background: var(--ion-color-primary-bg);
    color: var(--ion-color-primary);
    scale: 0.8;
    --border-radius: 0;
    margin: 0;
    text-transform: capitalize;
    font-weight: 500;
    padding-block: 0;

    text-align: center;
    font-size: 14px;
   
    line-height: 20px;

}
ion-text{
    text-transform: capitalize;
    color: var(--ion-color-dark);
    text-align: justify;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
@media only screen and (max-width: 992px) {
    .notif-wrapper{
        padding: 12px;
    }
    }