<div id="donate-popup">
    <div id="card">
        <ion-label>Donate to Cubik</ion-label>
        <ion-text>cubik is cubik is cubik is cubik is cubik is cubik is cubik is cubik is cubik is cubik cubik is cubik is cubik is cubik is cubik is cubik is</ion-text>
        <a href="#" target="_blank">learn more</a>
        <div id="donate-btn-wrapper">
            <ion-button (click)="showBlink = true"><ion-icon name="heart-half-outline"/></ion-button>
        </div>
    </div>
    <!-- @if(showBlink){ -->

        <div id="blink">
            BLINK AREA
        </div>
    <!-- } -->
<!-- <div id="donate-head">
    Donate to Cubik
</div>
<div id="donate-body">
    <div id="intro">
        <ion-label>What is Cubik?</ion-label>
        <ion-text>Cubik is an innovative platform designed to revolutionize the way open-source projects are funded and supported. It is crafted with a developer-centric approach, catering to the unique challenges faced by developers while endorsing the power of community participation.

            At its core, Cubik aims to provide developers the recognition, support, and resources they deserve for bringing their innovative visions to life. This platform aspires to bridge the persisting funding gap in the open-source ecosystem.</ion-text>
       
    </div>
    <div id="cubik-blink">
        <a href="https://dial.to/?action=solana-action:https://blinks.cubik.so/contribution/cubik">https://dial.to/?action=solana-action:https://blinks.cubik.so/contribution/cubik</a>
    </div>
</div> -->
</div>