#validator-selection {
    margin-block-end: 20px;
    .light-title {
        text-transform: capitalize;
        color: #344054;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        margin-block-end: 8px;
        /* 138.462% */
    }
    
    .validator-profile {
        align-items: center;
        flex: 3.5;
        margin-right: auto;
        display: flex;
        width: 100%;
        padding-block: 6px;

        div {
            display: flex;
            flex-direction: column;
            text-align: left;
        }

        ion-img {
            width: 36px;
            height: 36px;
            overflow: hidden;
            border-radius: 50%;
            margin-inline-end: 12px;
        }

        ion-label {
            color: var(--colors-text-text-primary-900, #121926);
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
        }

        ion-text {
            color: var(--colors-text-text-tertiary-600, #4B5565);
            font-size: 11px;
            line-height: 16px;
            /* 145.455% */
        }

    }

    ion-button {
        margin: 0;
        text-align: right;
        border-radius: var(--radius-md, 8px);
        border: 1px solid var(--Colors-Border-border-primary, #CDD5DF);
        background: var(--Colors-Background-bg-primary, #FFF);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        overflow: hidden;
        color: var(--ion-color-medium);
        text-overflow: ellipsis;
        font-size: 13px;
        line-height: 18px;
        text-transform: capitalize;
        font-weight: 400;
    }

    ion-chip {
        font-size: 12px;
        border: 1px solid #F1D5EB !important;
        background: #FAF0F8 !important;
        color: var(--ion-color-primary) !important;
        font-weight: 600;
        margin-inline-end: 8px;
    }

}