<div id="action-box">
  <div id="title">Wallet Balance</div>
  <div id="token-balance">{{4500.23 | number: '1.2'}} SOL</div>

  <ion-segment value="default" mode="md">
    <ion-segment-button value="default">
      <ion-label>Send</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Swap</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <form id="send-asset">
    <div class="control-group">
      <ion-label>Recipient’s  address</ion-label>
      <ion-input formControlName="targetAddress"></ion-input>
    </div>
    <div class="control-group">
      <ion-label>amount</ion-label>
      <ion-input type="number" formControlName="amount"></ion-input>
    </div>
    <div class="private-tx">
      <ion-toggle></ion-toggle>
      <ion-label>private transaction</ion-label>
      <ion-icon name="help-circle-outline"></ion-icon>
    </div>
    <ion-button expand="block" [disabled]="formSubmitted || sendTokenForm.invalid">send</ion-button>
  </form>
</div>