<div id="action-box">
  <div id="title">Wallet Balance</div>
  <div id="token-balance">{{token.balance| number: '1.2'}} {{token.symbol}}</div>

  <ion-segment value="default" mode="md">
    <ion-segment-button value="default">
      <ion-label>Send</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="segment">
      <ion-label>Swap</ion-label>
    </ion-segment-button> -->
  </ion-segment>
  
  <form id="send-asset" [formGroup]="sendTokenForm" >
    <div class="control-group">
      <address-input (onValidAddress)="sendTokenForm.controls['targetAddress'].setValue($event)"/>
    </div>
    <div class="control-group">
      <!-- <ion-label>amount</ion-label> -->
      <input-label label="Amount" (onSetSize)="setStakeSize($event)" [asset]="token"/>
      <amount-input [token]="token"
       [value]="sendTokenForm.controls['amount'].value" 
       (onValueChange)="sendTokenForm.controls['amount'].setValue($event)" />
    </div>
    <!-- <div class="private-tx">
      <ion-toggle></ion-toggle>
      <ion-label>private transaction</ion-label>
      <ion-icon name="help-circle-outline"></ion-icon>
    </div> -->
    <ion-button expand="block" (click)="send()" [disabled]="formSubmitted || sendTokenForm.invalid">Send</ion-button>
  </form>
</div>