
<!-- <ngx-turnstile #turnStile [siteKey]="turnStileKey" (resolved)="sendCaptchaResponse($event)" theme="auto" [tabIndex]="0" /> -->
<div>

    <ion-input placeholder="Search address or domain" (ionInput)="watchPortfolio($event)" debounce="1000" (ionChange)="watchPortfolio($event)"/>
    <!-- <ion-button fill="clear"> -->

        <!-- <ion-icon name="search-circle-outline"></ion-icon> -->
    <!-- </ion-button> -->
</div>
<!-- @if(showInput()){
}@else {   
    <ion-button (click)="showInput.set(true)" id="manual-wallet" fill="clear">Search address</ion-button>
} -->