
:host {
    height: 100%;
    overflow-x: auto;
    display: block;

}
#stat-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100%;
}

.stat {
    height: 100%;

    .key {
        color: var(--colors-text-text-tertiary-600, #4B5565);
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 8px;
    }

    .value {
        color: var(--colors-text-text-primary-900, #121926);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }
}

ion-skeleton-text{
    width: 100%;
    height: 30px;
    border-radius: 4px;
}


#last-snapshot {
    font-size: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    background: #f3f4f6;
    border-radius: 0px 10px 0px 5px;
    color: var(--ion-color-secondary);
    ion-icon{
        margin-inline-end: 4px;
        font-size: 16px;
    }
}
@media only screen and (max-width: 1200px) {
    #stat-wrapper{
    grid-template-columns: 1fr 1fr;
    width: 500px;
    overflow-x: auto;
}
}