<div id="news-feed" class="ion-padding">
  <div id="news-feed-header">News Feed</div>
  <ion-img id="close-icon" src="assets/images/close-icon.svg" (click)="dismissModal()" />
  <div id="feed-wrapper">
    <div id="main-feed">
      <chip [name]="mainFeed.type" [color]="mainFeed.color" id="featured-chip" />
      <ion-img [src]="mainFeed.image" />
      <div [innerHTML]="mainFeed.description"></div>
    </div>
    @for (feed of feed; track feed.title) {
    <div class="feed-item">
      <div class="feed-head">
        <div class="feed-title">{{feed.title}}</div>
        
         <span> &#x2022; </span><chip name="{{feed.type}}" color="{{feed.color}}" />
        
      </div>
      <div class="feed-body" [innerHTML]="feed.description"></div>
    </div>
    }

  </div>
</div>