
:host{
    position: absolute;
    right: 0;
    z-index: 2;
    background: #00000029;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: auto;
}
#multipliers-menu-container {
    background: var(--ion-color-light);
    width: 470px;
    max-width: 100%;
    overflow: auto;
}

#multipliers-title {
    color: var(--colors-foreground-fg-primary-900, #121926);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
    margin-block-end: 24px;
}

#close-icon {
    background: var(--ion-color-light);
    width: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 222;
}

.group-title {
    color: var(--colors-text-text-primary-900, #121926);
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-block-end: 8px;
    display: flex;
    align-items: center;
    chip{
        margin-inline-start: 4px;
    }
    .badge{
        font-weight: 600;
        margin-inline-start: 4px;
    }
}

.group-subtitle {
    color: var(--colors-text-text-quarterary-500, #697586);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    width: 100%;
    ion-img {
        margin-inline-start: 8px;
        width: 16px;
    }
}

.multipliers-container {
    display: flex;
    margin-block-end: 24px;
    gap: var(--spacing-md, 8px);

    &.defi-container {
        margin-block-end: 60px;
        display: block;
    }
}

.defi-container .asset-item {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 8px;
    .defi-info{
        flex: 7;
    }
    ion-img {
        margin-inline-end: 8px;
        margin-block-end: 0px;
        border-radius: 50%;
        overflow: hidden;
    }
    .link-container {
        display: flex;
        align-items: center;
        span{
            color: var(--Colors-Background-bg-quaternary, #E3E8EF);
            margin-inline: 12px;
        }
    }
}

.asset-item {
    flex: 3;
    display: flex;
    padding-block: 16px;
    padding-inline: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Colors-Border-border-secondary, #E3E8EF);
    background: var(--Colors-Background-bg-primary_alt, var(--ion-color-light));
    position: relative; 
    #boosted-lst-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        color: gold;
        width: 16px;
        height: 16px;
    }
    ion-img {
        width: 36px;
        margin-block-end: 8px;
    }

    ion-label {
        color: var(--Colors-Text-text-disabled, #697586);
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
    }

    ion-text {
        color: var(--colors-text-text-primary-900, #121926);
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        align-items: center;
    display: flex;
    ion-icon {
        color: #00a3ff;
        margin-inline-start: 4px;
    }
    }

    .link-container {
        ion-img {
            width: 16px;
        }
    }
}
.badges-container {
    display: flex;
    flex-wrap: wrap;
    chip{
             margin-inline-end: 4px; 
    margin-block-end: 4px;
    }
}