<div id="multipliers-menu-container" [@menuAnimation]>
  <div id="multipliers-menu" class="ion-padding">
    <ion-img id="close-icon" src="assets/images/close-icon.svg" (click)="dismissModal($event)" />
    <div id="multipliers-title">Boost your score with multipliers</div>
    <div class="group-title">Stake</div>
    <div class="multipliers-container">
      @for (lst of defaultMultipliers.LSTs; track $index) {
      <div class="asset-item">
        <ion-img [src]="lst.img" />
        <ion-label>{{lst.title}}</ion-label>
        @if (lst.pts) {
        <ion-text>{{lst.pts | number:'1.0-1'}} pts</ion-text>
        } @else {
        <ion-skeleton-text style="width: 50px;" animated />
        }
      </div>
      }
    </div>
    <div class="group-title">DAO Tokens<span class="badge sh-boosted">Boosted</span></div>
    <div class="multipliers-container">
      @for (dao of defaultMultipliers.daoTokens; track $index) {
      <div class="asset-item">
        <ion-img [src]="dao.img" />
        <ion-label>{{dao.title}}</ion-label>
        @if (dao.pts) {
        <ion-text>
          {{dao.pts | number:'1.0-3' }} pts
        </ion-text>
        } @else {
        <ion-skeleton-text style="width: 50px;" animated />
        }
      </div>
      }
    </div>

    <div class="group-title">
      <span>
        hubSOL Boosters
      </span>
      <div class="group-subtitle">Deposit your hubSOL into DeFi platforms to get more points
         <!-- <ion-img [tooltip]="toolTipTpl" [position]="tooltipPosition" src="assets/images/info-icon.svg" />  -->
        </div>
    </div>

    <div class="multipliers-container defi-container">
      @for (defi of defaultMultipliers.hubSOLBoosters; track $index) {
      <div class="asset-item">
        <ion-img [src]="defi.img" />
        <div class="defi-info ion-text-capitalize">

          <ion-label>{{defi.title}}</ion-label>
          <div class="badges-container">
            @for (badge of defi.badges; track $index) {
            <chip [name]="badge.strategy" [color]="" />
            
           
            @if (badge.solanahubboosted) {
              <chip [name]="'SolanaHub Boosted'" [color]="'primary'" />

            }
            @if (badge.protocolBoosted) {
              <chip [name]="'Protocol Boosted'" [color]="'focus'" />
            }
            }
          </div>
        </div>
        @if (defi.pts) {
        <ion-text>
          @if(defi.pts.toString().indexOf('x') > -1) {
            {{defi.pts}} pts <ion-icon name="diamond-outline"/>
          } @else {
            {{ defi.pts | number:'1.0-1' }}x pts
          }
        </ion-text>
        } @else {
        <ion-skeleton-text style="width: 50px;" animated />
        }
        <div class="link-container">
          <span>|</span> <a [href]="defi.link" target="_blank"><ion-img src="assets/images/ll/link.svg" /></a>
        </div>
      </div>
      }
    </div>

  </div>
</div>
<ng-template #toolTipTpl>

  <div class="tool-tip" style="width: 400px;z-index: 22222;">
    <div style="text-transform: capitalize; display: flex;align-items: center;margin-block-end: 4px;font-weight: 600;color:var(--ion-color-dark);">
      <span 
      style="background-color: var(--ion-color-primary);width:12px;height: 12px;border-radius: 50%;margin-inline-end: 6px;"
      >
    </span> 
    DeFi Safety Tips
    <div class="tool-tip-desc">
      Here are things to keep in mind when using DeFi protocols
    </div>
    <ul>
      <li>
        <span>
          <ion-img src="assets/images/ll/check.svg" />
        </span>
        @for (tip of defiSafetyTips; track $index) {
        <span>
          {{tip}}
        </span>
        }
      </li>
    </ul>
  </div>
  </div>
</ng-template>