<div id="wallet-adapters-wrapper" class="ion-padding">
  <div id="wallet-adapter-opt-header">
    <ion-label>Connect wallet</ion-label>
    <p>Choose wallet to connect</p>
    <ion-buttons slot="end">
      <ion-button (click)="popoverController.dismiss()">
        <!-- <ion-icon style="font-size: 30px;" name="close-circle-outline"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </div>
  
<div id="wallet-connected-actions">
  <div class="wallet" (click)="onSelectWallet(opt.adapter.name)" *ngFor="let opt of walletsOptions$ | async">

    <ion-avatar slot="start">
      <ion-img [src]="opt.adapter.icon"></ion-img>
    </ion-avatar>
    <ion-text>
      {{opt.adapter?.name}}
    </ion-text>

  </div>
</div>
</div>