

#modal-intro {
    display: flex;
    margin-block-end: 24px;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: column;
    }

    ion-img {
        width: 24px;
        height: 24px;
    }

    ion-label {
        text-transform: capitalize;
        color: var(--ion-color-text-2);
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        margin-block-end: 4px;
    }

    ion-text {
        text-transform: capitalize;
        color: #4B5565;
        font-size: 13px;
        line-height: 18px;
        /* 138.462% */
    }

    #close-modal {
        cursor: pointer;
    }
}
#wallet-connected-actions {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    ion-label {
        display: block;
        color:  var(--ion-color-medium);
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        width: 100%;
        margin-block-end: 8px;
    }
}

.wallet {
    margin-bottom: 8px;
    flex: 1;

    border-radius: 12px;
    border: 1px solid var(--Gray-50, #F9FAFB);
    background: var(--Gray-50, #F9FAFB);
    padding: 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #475467;
    padding: 17px 38px;
    cursor: pointer;

    ion-avatar {
        width: 36px;
        height: 36px;
        margin-block-end: 12px;
    }
}

#wallet-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
}
#connect-with-social {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    #powere-by {
        font-size: 12px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 195px;
        color: var(--ion-color-dark);
    }
    ion-img{
        background: black;
        padding: 6px 8px;
        border-radius: 8px;
        width: 60px;
    }
}
@media only screen and (max-width: 1000px) {
    #powere-by {

        width: 245px !important; 
    }
    .wallet {
      flex-direction: row !important;

      padding: 12px 20px !important;
      ion-avatar {
        width: 20px;
        height: 20px;
        margin-block-end: 0;
        margin-inline-end: 12px;
      }
    }
  

  }