#wallet-connected-actions {
    display: flex;
    justify-content: space-around;
}
ion-label{
    color: #101828;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-block-end: 4px;
    letter-spacing: 0.18px;
    text-transform: capitalize;
}
p{
    color: #697586;
    font-size: 13px;
    margin: 0;
    font-weight: 400;
}
.wallet{
    border-radius: var(--radius-md, 8px);
    background: var(--Colors-Gray-modern-50, #F8FAFC);
    padding: 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: gray;
    padding: 17px 38px;
    cursor: pointer;
    ion-avatar {
        width: 40px;
        height: 40px;
        margin-block-end: 5px;
    }
}