

#modal-intro {
    display: flex;
    justify-content: space-between;
    margin-block-end: 24px;

    div {
        display: flex;
        flex-direction: column;
    }

    ion-img {
        width: 24px;
        height: 24px;
    }

    ion-label {
        text-transform: capitalize;
        color: #121926;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        margin-block-end: 4px;
    }

    ion-text {
        text-transform: capitalize;
        color: #4B5565;
        font-size: 13px;
        line-height: 18px;
        /* 138.462% */
    }

    #close-modal {
        cursor: pointer;
    }
}
#wallet-connected-actions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    ion-label {
        display: block;
        color:  #344054;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        width: 100%;
        margin-block-end: 8px;
    }
}

.wallet {
    border-radius: 12px;
    border: 1px solid var(--Gray-50, #F9FAFB);
    background: var(--Gray-50, #F9FAFB);
    padding: 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #475467;
    padding: 17px 38px;
    cursor: pointer;

    ion-avatar {
        width: 36px;
        height: 36px;
        margin-block-end: 12px;
    }
}