<div id="wallet-adapters-wrapper" class="ion-padding">

    <div id="modal-intro">
      <div>
        <ion-label>Connect wallet</ion-label>
        <ion-text>You need to connect a Solana wallet.</ion-text>
      </div>
  
          <ion-img id="close-modal" (click)="popoverController.dismiss()" src="assets/images/close-icon.svg" />
    
    </div>

  
    <div id="wallet-connected-actions">
  <ion-label>Popular Wallets</ion-label>
  <div class="wallet" (click)="onSelectWallet(opt.adapter.name)" *ngFor="let opt of walletsOptions$ | async">

    <ion-avatar slot="start">
      <ion-img [src]="opt.adapter.icon"></ion-img>
    </ion-avatar>
    <ion-text>
      {{opt.adapter?.name}}
    </ion-text>

  </div>
</div>
</div>