<div class="ion-padding-horizontal">

  <app-search-box (search)="searchItem($event)" [value]="searchTerm()" [placeholder]="'Search by token'"/>
</div>
  <!-- <ion-searchbar inputmode="search" (ionInput)="searchItem($event)" [value]="searchTerm()" [debounce]="time" type="search"
 id="search-bar" /> -->


@for (token of filteredTokens()?.length; track $index) {
  <!-- <ion-content> -->
<cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900"  maxBufferPx="1350">
  <ion-list lines="none">
    <ion-item (click)="selectToken(token)" *cdkVirtualFor="let token of filteredTokens()">
      <div class="token-profile" slot="start">
      <ion-avatar>
        <img [src]="token.logoURI" />
      </ion-avatar>
      <div>
        <ion-label> {{token.symbol}}</ion-label>
        <ion-text>{{token.name}}</ion-text>
      </div>
      </div>
      <div class="token-holding" slot="end">
        <ion-label>  {{token.value | currency }}</ion-label>
        <ion-text> {{token.balance | number }}</ion-text>
      </div>
    </ion-item>
  </ion-list>
</cdk-virtual-scroll-viewport>
<!-- </ion-content> -->

}@empty {
  no tokens found
} 