.portfolio-box {
  padding: 12px 20px;
  background-color: #fff;
  height: 100%;
  border-top: 1px solid #E3E8EF;
}

.portfolio-actions {
  display: inline-flex;
  gap: .5rem;
}

.portfolio-box-header {
  font-weight: 600;
  color: var(--ion-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-box-header-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.portfolio-box-body {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 12px;
}

.portfolio-box-empty {
  ion-label {
    color: #37264A;
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
  }

  &__skeleton {
    height: 20px;
    border-radius: .3rem;
  }
}
