@if(!hideLLv2() && (wallet$ | async)){



<div id="ll-member-wrapper">
  <div class="badge"> Season 1</div>
  <ion-label>
    Your total points
  </ion-label>
  <div id="ll-memeber-pts">

    <ion-text>
      @if(member$ | async; as member){
        @if(member.totalPts){
          <!-- {{member.totalPts | number:'1.0-0' }} -->
        <number-counter 
          [nextSnapshotTime]="member.lastUpdated "
         [targetNumber]="member.totalPts" 
   
         />
        }@else{
        0
        }
      }@else{
      <ion-skeleton-text animated></ion-skeleton-text>
      }
    </ion-text>
    @if(member$ | async; as member){  
    <loyalty-badge [daysLoyal]="member.daysLoyal" [tiers]="tiers" />
  }
  </div>
  <a routerDirection="root" routerLink="loyalty-league" id="leader-board-link"> Loyalty league HUB <ion-icon
      name="chevron-forward-outline"></ion-icon></a>
</div>
}