@if(connectedWallet$ | async ){


<div id="ll-member-wrapper">
  <ion-label>Loyalty Points  <ion-icon id="tooltip" [position]="tooltipDirection" [tooltip]="toolTipTpl" class="tooltip-icon" name="information-circle-outline"></ion-icon></ion-label>
  <ng-template #toolTipTpl >
    The points tracker runs daily, so don't panic if you can't see your score immediately. 😊✨
   </ng-template>
  <div id="score">
    @if((llScore$ | async); as loyaltyLeagueMember){
    {{ loyaltyLeagueMember?.loyaltyPoints || 0 | number: '1.0-2'}}
    }@else{
    <ion-skeleton-text [animated]="true" />
    }

  </div>
  <div id="rank">Rank  
    @if((rank$ | async) ; as rank){
    {{ rank.rank  | number: '1.0-0' }}/{{rank?.totalParticipant | number: '1.0-0'}}
    }@else{
    <ion-skeleton-text [animated]="true" />/<ion-skeleton-text [animated]="true" />
    }</div>
  <div id="bar">
    <ion-progress-bar [value]="timeToAirdrop | async"/>
  </div>
  <a routerDirection="root" routerLink="loyalty-league" id="leader-board-link">view leaderboard <ion-icon name="trophy-outline"/></a>
</div>
}