@if(!hideLLv2() && (wallet$ | async)){



<div id="ll-member-wrapper">
  <div class="badge"> Season 1</div>
  <ion-label>
    Your total points
  </ion-label>
  <div id="ll-memeber-pts">

    <ion-text>
      @if(member$ | async; as member){
        @if(member.totalPts){
          <!-- {{totalPts}} -->
        <number-counter 
          [nextSnapshotTime]="member.nextUpdate "
         [targetNumber]="member.totalPts" 
        [showFormatNumber]="true"
         />
        }@else{
        0
        }
      }@else{
      <ion-skeleton-text animated></ion-skeleton-text>
      }
    </ion-text>
    @if(member$ | async; as member){  
      @if(member.daysLoyal){
        <ion-img [src]="getTierIcon(member.daysLoyal)"></ion-img>
      }
  }
  </div>
  <a (click)="goToLoyaltyLeague()" id="leader-board-link"> Loyalty league HUB <ion-icon
      name="chevron-forward-outline"></ion-icon></a>
</div>
}