#ll-member-wrapper {
    border-radius: 8px;
    border: 1px solid var(--Gray-Modern-200, #E3E8EF);
    background: #FFF;
    padding: 16px;
    position: relative;
}

ion-label {
    color: #101828;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-block-end: 4px;
    display: block;
}
#ll-memeber-pts{
    display: flex;
    align-items: center;
    margin-block-end: 17px;
    justify-content: space-between;
}
ion-img {
    
        width: 40px;
    
}
ion-text {
    color: #101828;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    min-width: 40%;
    /* 133.333% */
}
ion-skeleton-text {
    height: 20px;
    border-radius: 4px;
}
.badge {
    width: 66px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -12px;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Gray-utility-gray-200, #EAECF0);
    background: var(--Component-colors-Utility-Gray-utility-gray-50, #F9FAFB);
    
    text-align: center;
    font-size: 11px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 18px; 
}
a {
    color: var(--ion-color-secondary);
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
    /* 138.462% */
}