:host {
    display: block;
    text-transform: capitalize;
}

ion-label {
    color: var(--Gray-700, #344054);
    font-size: 13px;
    font-weight: 500;
    margin-block-end: 8px;
    display: block;
    text-transform: capitalize;
}

#merge-summary{
    height: 170px;
    padding-block: 10px;
}