:host{
  display: block;
  height: 135px;
}
.divider{
  height: 1px;
  background-color:--ion-color-border;
}
#afr-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--ion-color-dark);
  font-size: 13px;
}
#afr-header-title{
  color: var(--ion-color-primary);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-block-end: 2px;
}
#afr-content{
  max-width: 83%;
}
#afr-status {
  margin-inline-end: 8px;
  
}
#afr-body-title {
  margin-block-end: 12px;
}
#afr-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--ion-color-dark);
  font-size: 13px;
  line-height: 18px;
}
#afr-link{
  color: var(--ion-color-primary);
  cursor: pointer;
  text-decoration: underline;
  font-size: 13px;
}

@property --progress-value {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

.progress-bar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    radial-gradient(closest-side, white 70%, transparent 70% 100%),
    conic-gradient(var(--ion-color-primary) calc(var(--progress-value) * 1%), #f5f2f9 0);
  position: relative;
  animation: progress .5s ease-out forwards;
}

@keyframes progress {
  0% { --progress-value: 0; }
  100% { --progress-value: var(--end-value); }
}
.progress-value {
  position: absolute;
  font-size: 12px;
  color: var(--ion-color-dark);
}
