<div class="container" (keydown.enter)="onSubmit(input.value)">
  <div class="content-header">
    <ion-img class="content-header__wallet-image" src="assets/icon/wallet.svg"/>
    <ion-img id="close-icon" src="assets/images/close-icon.svg" (click)="dismissModal()"/>
  </div>
  <div class="content-body">
    <ion-label class="content-body__title">
      Add read-only wallet
    </ion-label>
    <ion-text class="content-body__description">
      You will be able to see this wallet in the overview tab only and track your portfolio easily across multiple
      wallets
    </ion-text>
    <div class="content-body__input">
      <ion-input #input placeholder="Enter wallet address" inputmode="text"/>
      @if (errorMessage()) {
        <ion-text class="content-body__input-feedback">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <span>{{ errorMessage() }}</span>
        </ion-text>
      }
    </div>
  </div>
  <ion-button expand="block" (click)="onSubmit(input.value)">Save wallet</ion-button>
</div>


