<div class="container" (keydown.enter)="addNewPortfolio(input.value, input2.value)">
  <div class="content-header">
    <ion-icon name="wallet-outline" class="content-header__wallet-image" />
    <ion-img id="close-icon" src="assets/images/close-icon.svg" (click)="dismissModal()"/>
  </div>
  <div class="content-body">
    <ion-label class="content-body__title">
      Add read-only wallet
    </ion-label>
    <ion-text class="content-body__description">
      You will be able to see this wallet in the overview tab only and track your portfolio easily across multiple
      wallets
    </ion-text>
    <div class="content-body__input">
      <ion-input #input style="    margin-block-end: 12px;" [value]="walletAddress" placeholder="Enter wallet address" inputmode="text"/>

      <ion-input #input2 placeholder="Enter nickname(optional)" maxlength="10" inputmode="text"/>
      @if (errorMessage()) {
        <ion-text class="content-body__input-feedback">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <span>{{ errorMessage() }}</span>
        </ion-text>
      }
    </div>
  </div>
  <ion-button expand="block" [disabled]="!input.value" (click)="addNewPortfolio(input.value, input2.value)">Save wallet</ion-button>
</div>


