<div class="ion-padding">
  <div id="modal-intro">
    <div>
      <div id="title">Select trading fees</div>
      <!-- <div id="desc">{{config.desc}}</div> -->
    </div>
    <ion-img (click)="closeModal()" id="close-modal" src="assets/images/close-icon.svg" />
  </div>

  <div>
    <ion-radio-group id="stake-options" value="native" (ionChange)="setFee($event)">
    
          <ion-radio mode="md" class="stake-type wrapping-list" value="native">
            <div class="inliner">
              <div class="icon-wrapper">
                <ion-img src="assets/images/lock-icon.svg" />
              </div>
  
            </div>
            <div>
  
              <div class="type-title">Native staking</div>
              <ion-label class="ion-text-wrap type-desc">
                self custodial stake: get stake account in return and enjoy risk-free staking.
              </ion-label>
            </div>
          </ion-radio>
       
  
  
          <ion-radio mode="md" class="stake-type wrapping-list" value="liquid">
            <div class="inliner">
              <div class="icon-wrapper">
                <ion-img src="assets/images/droplets-icon.svg" />
              </div>
            </div>
            <div>
  
              <div class="type-title">Liquid staking</div>
  
              <ion-label class="ion-text-wrap type-desc">
                Enjoy effortless delegation to top-performing validators in an automated stake pool.
              </ion-label>
  
  
            </div>
          </ion-radio>
       
    </ion-radio-group>
  </div>
<ion-text >
  or set custom fee
</ion-text>
<div id="input-control" class="ion-margin-bottom">
  <ion-input 
  type="number"
   max="50" 
   inputmode="number" 
   [placeholder]="emittedValue() > 100 ? emittedValue() / 100 : 'enter custom value'" 
   (ionInput)="setFee($event.detail.value)" />
  <span>%</span>
</div>
  <div id="modal-controls">
    <!-- <ion-button (click)="closeModal()" fill="clear">cancel</ion-button> -->
    <ion-button (click)="submit()" [disabled]="!emittedValue()">save slippage</ion-button>
  </div>
</div>