
.tooltip {
  box-shadow: 0px 0px 6px #00000020;
  border-radius: 8px;
  padding: 12px;
  font-size: 12px;
  position: fixed;
  opacity: 0;
  max-width: 300px;
  width: 200px;

  &::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
  }

  &--visible {
    opacity: 1;
    transition: opacity 300ms;
  }

  &--light {
    background-color: var(--ion-color-light);
    color: var(--Gray-600, #475467);

    &::before {
      border: 5px solid var(--ion-color-light);
    }
  }

  &--dark {
    background-color: black;
    color: var(--ion-color-light);

    &::before {
      border: 5px solid black;
    }
  }

  &--below {
    transform:translateX(-50%);
    margin-top: 7px;

    &::before {
      border-left-color: transparent;
      border-right-color: transparent;
      border-top: none;
      left: calc(50% - 5px);
      top: -5px;
    }
  }

  &--above {
    transform:translate(-50%, -100%);
    margin-bottom: 7px;

    &::before {
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom: none;
      left: calc(50% - 5px);
      bottom: -5px;
    }
  }

  &--left {
    transform:translate(calc(-100% - 7px), -50%);

    &::before {
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right: none;
      right: -5px;
      top: calc(50% - 5px);
    }
  }

  &--right {
    transform:translateY(-50%);
    margin-left: 7px;

    &::before {
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left: none;
      left: -5px;
      top: calc(50% - 5px);
    }
  }

  &--dynamic {
    margin-left: 20px;

    &::before {
      display: none;
    }
  }
}
