:host {
    display: block;
    text-transform: capitalize;
}

ion-label {
    color: var(--Gray-700, #344054);
    font-size: 13px;
    font-weight: 500;
    margin-block-end: 8px;
    display: block;
    text-transform: capitalize;
}
.stake-account-checkbox{
    display: none;
}
#merge-summary{
    height: 170px;
    padding-block: 10px;
}
#merge-calc {
    border-radius: 8px;
    border: 1px solid #E3E8EF;
    background: #F8FAFC;
    padding: 16px;
    font-size: 12px;
    text-transform: capitalize;
    color: #101828;

    .account {
        font-weight: 400;
        display: flex;
        justify-content: space-between;
    }

    .account-id,
    .account-address {
        flex: 1;
    }

    .account-id {
        font-weight: 600;
    }

    .account-value {
        color: #475467;
    }
}

cdk-virtual-scroll-viewport {
    height: 300px;
    width: 100%;
}

ion-text {
    display: block;
    color: #697586;
    margin-block-end: 16px;
    font-size: 12px;

}

.account-check-wrapper {
    position: relative;
    cursor: pointer;

    ion-checkbox {
        position: absolute;
        top: 27px;
        left: 20px;
    }

    .checked {
        border-radius: var(--radius-xl, 12px);
        border: 2px solid #B84794;
    }
}

:host ::ng-deep stake-position.no-padding {
    .stake-card {
        padding-inline-start: 16px;
    }
}
:host ::ng-deep stake-position.disabled{
    .stake-card{
        background: #FAF0F8;
        opacity: 0.8;
    }
}
// :host ::ng-deep stake-position {
//     .stake-card {
//         padding-inline-start: 42px;
//     }
// }
