<div id="split-stake-account">
  <ion-label>from target account</ion-label>
  <stake-position class="no-padding" [account]="targetStakeAccount" />
<ion-text>select the accounts you want to merge with the target account</ion-text>

  <cdk-virtual-scroll-viewport itemSize="74" minBufferPx="400" maxBufferPx="1000">
    <div class="account-check-wrapper" *cdkVirtualFor="let account of stakeAccounts; let i = index;">
      <stake-position [ngClass]="{
        'checked':checkAccounts.checked,
        'disabled': targetStakeAccount.state != account.state || targetStakeAccount.validator.vote_identity != account.validator.vote_identity
       }" [class.checked]="checkAccounts.checked" 
       (click)="selectAccount(checkAccounts, targetStakeAccount.state === account.state && targetStakeAccount.validator.vote_identity === account.validator.vote_identity)" 
       [stake]="account" />
      <ion-checkbox 
       [value]="account" 
       [disabled]="targetStakeAccount.state != account.state || targetStakeAccount.validator.vote_identity != account.validator.vote_identity"
        #checkAccounts 
         class="stake-account-optiob">
      </ion-checkbox>
    </div>
  </cdk-virtual-scroll-viewport>

  
  <div id="merge-summary">
    <ion-label>merge summary</ion-label>
    <div id="merge-calc">
      <div class="account">
        <div class="account-id">account 1</div>
        <div class="account-address">{{targetStakeAccount.shortAddress}}</div>
        <div class="account-value">{{mergedBalance() + targetStakeAccount.balance | number: '1.3'}} SOL</div>
      </div>
     
    </div>
  </div>
</div>