<div id="refer-a-friend-modal">
  <ion-img id="close-icon" src="assets/images/close-icon.svg" (click)="dismissModal()" />
  <div id="refer-a-friend-modal-header">
    <div id="refer-a-friend-modal-header-title">
      Refer a Friend, Increase Your Points
    </div>
    <div id="refer-a-friend-modal-header-subtitle">
      Share your referral link or blink and earn 5% of your referral's total points when they stake.
    </div>
  </div>
  <div id="refer-a-friend-modal-body">
    <ion-segment  mode="ios" #loaded (ionChange)="selectLink($event)" value="link">

      <ion-segment-button value="link">Referral Link
      </ion-segment-button>
      <ion-segment-button value="blink">Referral Blink
      </ion-segment-button>
    </ion-segment>
    <div class="ion-margin-top"></div>
    @if(defaultLink === 'link'){
      <div>
        <ion-input [value]="baseReferralLink" readonly/>
        <ion-button class="ref-btn" appCopyText [copyText]="baseReferralLink" ><ion-icon name="copy-outline"/> Copy</ion-button>
      </div>
    }
    @else{
      <div>
        <ion-img src="assets/images/ll/ref-blink.svg" />
        <a [href]="blinkLink" target="_blank">

          <ion-button class="ref-btn"><ion-icon name="share-outline"/> Share blink on X/Twitter</ion-button>
        </a>

      </div>
    }
  </div>
</div>
