#wallet-connected-actions {
    border-radius: 0px 0px 12px 12px;
    border: 1px solid #E3E8EF;
    background: white;
    padding-block: 4px;
}
#action-wrapper {
    margin-block-start: 2px;
    padding-block-end: 10px;
    border-bottom: 1px solid #E3E8EF;
}
ion-button {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    // width: 100%;
    margin-block-end: 1px;
    --color: #364152;
    --box-shadow: 0 0 0;
    text-transform: capitalize;

    div {
        width: 100%;
        display: flex;
        ion-icon{
            margin-inline-end: 4px;
        }
    }
}