<div id="wallet-connected-actions">
  <div id="action-wrapper">

  @if(!(watchMode$ | async)){
  <ion-button expand="block" appCopyText [copyText]="walletAddress"  fill="clear">
    <div class="div-left">
      <ion-icon name="copy"/>
      <span>copy address</span>
      </div>
  </ion-button>
  <ion-button expand="block" (click)="showWalletAdapters()" fill="clear">
    <div class="div-left">
      <ion-icon name="repeat"/>
      <span>change wallet</span>
    </div>
  </ion-button>
}
</div>
  <ion-button expand="block" (click)="disconnectWallet()" fill="clear">
    <div class="div-left">
      <ion-icon name="log-out"/>
      <span>disconnect</span>
    </div>
  </ion-button>
 </div>