#subs{
    overflow-y: auto;
    overflow-x: none;
} 
.sub-profile{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-size: 14px;
    color: var(--ion-color-dark);
}