<ion-content [fullscreen]="true">
  <page-header title="Notifications"
    description="Stay informed with timely notifications tailored to deliver the most important data TO YOU</br> Powered by Dialect"></page-header>
  <ion-grid>
    
    @if(walletSubscribedDapps()?.length || walletNotifications()?.length){
    <div class="data-set">
      <table-head label="Access your Data" desc="making your cross dApss activity on solana - EASY">
        <ion-button size="small" id="active-subs" color="light" (click)="openConfig($event)">
          
          <span class="ion-hide-lg-down">
            Subscriptions
          </span>
          <animated-icon icon="https://cdn.lordicon.com/vspbqszr.json"/>
        </ion-button>
      </table-head>
      <ion-row class="ion-align-items-center ">


        <div class="ion-margin-start ion-hide-lg-down"></div>
        <ion-col>
          <app-table-menu [menu]="tableMenuOptions" [currentTab]="tableMenuOptions[0]"
            (onSelectTab)="tabSelected($event)" >
          </app-table-menu>
        </ion-col>
        <div class="ion-margin-end ion-hide-lg-down"></div>


      </ion-row>
    </div>
    <div>
      @for (notification of walletNotificationsFiltered(); track $index) {
      <notif [notification]="notification" />
      }@empty {

      @if(  walletNotificationsFiltered() === null){

      <notif />
      <notif />
      <notif />
      }@else {

      <div id="no-notification">

        <ion-img src="assets/images/no-notifications.png" />
        <span>
          couldn't found any new notification for you...
        </span>
      </div>
      }


      }
    </div>
    } @else{
    
        <empty-subs updateTextBtn="subscribe" [dappsList]="dappsList" />
  
    }
  </ion-grid>
</ion-content>