<ion-content [fullscreen]="true">
  <page-header title="Notifications"
    description="Stay informed with timely notifications tailored to deliver the most important data TO YOU</br> Powered by Dialect"></page-header>
  <ion-grid>

    @if(walletSubs()){
    <div class="data-set">
      <table-head label="Manage your DAOs" desc="making your DAO activity easy"></table-head>
      <ion-row class="ion-align-items-center ">


        <div class="ion-margin-start ion-hide-lg-down"></div>
        <ion-col>
          <app-table-menu [menu]="tableMenuOptions" [currentTab]="tableMenuOptions[0]"
            (onSelectTab)="tabSelected($event)" />
        </ion-col>


        <ion-col size="12" sizeLg="3.9">
          <app-search-box (search)="searchItem($event)" [value]="searchTerm()" [placeholder]="'Search'" />

        </ion-col>
        <!-- <ion-col size="5">
            <ion-button fill="clear">
              <ion-select interface="popover" toggleIcon="chevron-down-outline" expandedIcon="remove" aria-label="fruit"
                placeholder="Select fruit">
                <ion-select-option value="apples"><ion-img src="https://arweave.net/znhfQINoWr8LUtbFnCF0PQztT9xQrE3PHtvYC1c-v8Q"/>Apples</ion-select-option>
                <ion-select-option value="oranges">Oranges</ion-select-option>
                <ion-select-option value="bananas">Bananas</ion-select-option>
              </ion-select>
            </ion-button>
  
          </ion-col> -->
        <div class="ion-margin-end ion-hide-lg-down"></div>


      </ion-row>
    </div>
    <div>
      @for (notification of walletNotifications(); track $index) {
      <notif [notification]="notification" />
      }@empty {

      @if( walletNotifications() === null){

      <notif />
      <notif />
      <notif />
      }@else {

      <div id="no-notification">

        <ion-img src="assets/images/no-notifications.png" />
        <span>
          couldn't found any new notification for you...
        </span>
      </div>
      }


      }
    </div>
    } @else{
    <empty-subs [dappsList]="dappsList" />
    }
  </ion-grid>
</ion-content>