<div id="stake-head">
  <div class="light-title">{{label}}</div>
  <!-- @if (this.walletTokens(); as wallet) { -->

    <div id="wallet-info">
      <div>
        <ion-img src="assets/images/wallet-icon.svg" />
      </div>
      @if(asset){
        <span>{{asset?.amount || 0 | number: '1.4'}} {{asset?.symbol}}</span>

      }@else{
          <ion-skeleton-text [animated]="true" />
      }
      @if(showBtns){

        <div id="size-btns">
          <ion-button size="small" [disabled]="!walletTokens()" class="space" fill="clear" (click)="setSize('half')">half</ion-button>
          <ion-button size="small" [disabled]="!walletTokens()" fill="clear" (click)="setSize('max')">max</ion-button>
        </div>
      }
    </div>
  <!-- } -->

</div>