<div style="position: relative;" class="ion-padding">
  <div id="modal-intro">
    <div>

      <div class="icon-wrapper">
        <ion-img [src]="config.imgUrl" />
      </div>
      <div id="title">{{config.title}}</div>
      <div id="desc">{{config.desc}}</div>
    </div>

    <ion-img (click)="closeModal()" id="close-modal" src="assets/images/close-icon.svg" />
  </div>
  @switch (componentName) {
    @case ("validators-modal") {
    <validators-modal (onSelectValidator)="emittedValue.set($event)" [validatorsList]="data()" />
    }
    @case ("delegate-lst-modal") {
      <delegate-lst-modal [stake]="data.stake"  (onSelectPool)="emittedValue.set($event)" />
      }
    @case ("merge-modal") {
    <merge-modal [targetStake]="data.stake" [stakeAccounts]="data.stakeAccounts" (onAccountsSelected)="emittedValue.set($event)" />
    }
    
    @case ("split-modal") {
    <split-modal [stake]="data.stake" (onAmountSet)="emittedValue.set($event)" />
    }
    @case ("instant-unstake-modal") {
    <instant-unstake-modal  [stake]="data.stake" />
    }
    @case ("transfer-auth-modal") {
    <transfer-auth-modal [stake]="data.stake" (onAuthSet)="emittedValue.set($event)"/>
    }
    @case ("token-list") {
      <token-list (onSelectToken)="emittedValue.set($event)" [jupTokens]="data.jupTokens" />
      }

    @case ('list-nft-modal') {
      <list-nft-modal/>
    }
    @case ('send-nft-modal') {
      <send-nft-modal/>
    }
    @case ('burn-nft-modal') {
      <burn-nft-modal/>
    }
  }
  <ng-container #containerBeforeTemplate></ng-container>
  @if (componentName !== 'token-list') {

    <div id="modal-controls">
      <!-- <ion-button (click)="closeModal()" fill="clear">cancel</ion-button> -->
      <ion-button (click)="submit()" [disabled]="!emittedValue()">{{config.btnText}}</ion-button>
    </div>
  }
  </div>