#modal-intro {
    display: flex;
    justify-content: space-between;
    margin-block-end: 20px;
  
    .icon-wrapper {
      width: 48px;
      height: 48px;
      border-radius: var(--radius-lg, 10px);
      border: 1px solid var(--Component-colors-Components-Icons-Featured-icons-Modern-featured-icon-modern-border, #E3E8EF);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block-end: 12px;
  
    }
  
    ion-img {
      width: 24px;
      height: 24px;
    }
  
    #title {
      text-transform: capitalize;
      color: #121926;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
    }
  
    #desc {
      text-transform: capitalize;
      color: #4B5565;
      font-size: 13px;
      line-height: 18px;
      /* 138.462% */
    }
  
    #close-modal {
      cursor: pointer;
    }
  }
  
  
  #modal-controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 95px;
    left: 0;
    padding: 0 24px;
    align-items: center;
    background: white;
    border-top: 1px solid #E3E8EF;
  
    ion-button {
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      height: 44px;
      
      text-transform: capitalize;
      &.button-clear{
        color: #364152;
        border: 1px solid #CDD5DF;
      }
      &.ion-color-primary {
        border: 1px solid #9B3678;
      }
    }
  
  }

  :host ::ng-deep merge-modal stake-position,
  :host ::ng-deep split-modal stake-position,
  :host ::ng-deep instant-unstake-modal stake-position,
  :host ::ng-deep transfer-auth-modal stake-position {
    margin-block-end: 16px;

    .stake-info {
        width: 100%;

        ion-img,
        ion-skeleton-text {
            width: 36px !important;
            height: 36px !important;
        }

        span {
            display: flex;
            justify-content: space-between;
            flex: 1;
            align-items: center;
        }
    }


    .stake-details {
        display: none !important;
    }
}