#modal-intro {
    display: flex;
    justify-content: space-between;
    margin-block-end: 20px;
  
    .icon-wrapper {
      width: 48px;
      height: 48px;
      border-radius: var(--radius-lg, 10px);
      border: 1px solid var(--Component-colors-Components-Icons-Featured-icons-Modern-featured-icon-modern-border, var(--ion-color-border));
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block-end: 12px;
  
    }
  
    ion-img {
      width: 24px;
      height: 24px;
    }
  
    #title {
      text-transform: capitalize;
      color: var(--ion-color-dark);
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
    }
  
    #desc {
      text-transform: capitalize;
      color: var(--ion-light-gray);
      font-size: 13px;
      line-height: 18px;
      /* 138.462% */
    }
  
    #close-modal {
      cursor: pointer;
    }
  }
  .auto-height-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #modal-controls {
    display: flex;
    height: 85px;
    align-items: center;
    background: var(--ion-color-light);
    border-top: 1px solid var(--ion-color-border);
    margin-block-start: 16px;
    ion-button {
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      height: 44px;
      
      text-transform: capitalize;
      &.button-clear{
        color: var(--ion-color-dark);
        border: 1px solid  var(--ion-color-border);
      }
      &.ion-color-primary {
        border: 1px solid var(--ion-color-primary);
      }
    }
  
  }

  :host ::ng-deep merge-modal stake-position,
  :host ::ng-deep split-modal stake-position,
  :host ::ng-deep delegate-lst-modal stake-position,
  :host ::ng-deep instant-unstake-modal stake-position,
  :host ::ng-deep unstake-lst-modal stake-position,
  :host ::ng-deep transfer-auth-modal stake-position {
    margin-block-end: 16px;

    .stake-info {
        width: 100%;
        align-items: center !important;
        ion-img,
        ion-skeleton-text {
            width: 36px !important;
            height: 36px !important;
        }

        span {
            display: flex;
            justify-content: space-between;
            flex: 1;
            align-items: center;
        }
    }


    .stake-details {
        display: none !important;
    }
}

