ion-grid{
    width: 85%;
    margin: 0 auto;
    padding: 0;
    overflow-y: auto;
}
ion-col{
    padding: 40px 0;
}
ion-row{
    height: 100vh;
}
#divider{
    border-right: 1px solid  var(--ion-color-border);
    // padding-right: 40px;
}
::ng-deep .ngx-container{

    border: 1px solid  var(--ion-color-border);
    border-radius: 8px;
}