<ngx-turnstile [siteKey]="turnStileKey" (resolved)="sendCaptchaResponse($event)" theme="auto" [tabIndex]="0"/>

<ion-content [fullscreen]="true">
  <page-header title="Airdrop finder"
    description="Discover hidden airdrops and allocations you never knew existed!</br> Powered by solworks"></page-header>
  <ion-grid>

    <ion-row>
      <ion-col size="12" class="data-set">
        <app-mft [tableId]="'airdrops-checker'" 
          (onTabSelected)="selectedTab.set($event)" [label]="'Goodis'"
          desc="Check your airdrops and points allocation across solana dApps" [tableRows]="10" [tableColumns]="columns"
          [tableData]="tableData" />
      </ion-col>
    </ion-row>
    <ng-template #providerTpl let-row let-rowIndex="rowIndex" let-column="column">
      <div class="item">
        <div class="item-img-wrapper">
          <ion-img [src]="row.image || 'assets/images/unknown.svg'" alt="image" />
        </div>
        <div class="item-info">        
          <div class="item-bold">{{row.emitterName || 'unknown'}}</div>
        </div>
      </div>
      </ng-template>
    <ng-template #tokenTpl let-row let-rowIndex="rowIndex" let-column="column">
      @for (item of row.items; track $index) {

        <div class="ion-text-center">
            
            <div class="item-bold">{{item.label}}</div>
      
          </div>

      }
    </ng-template>
    <ng-template #datesTpl let-row let-rowIndex="rowIndex" let-column="column">
      <div>
         {{row.claimStart | date}}
      </div>
    </ng-template>
    <ng-template #claimStatusTpl let-row let-rowIndex="rowIndex" let-column="column">
      @for (item of row.items; track $index) {

        <div>

          <a target="_blank"  class="ion-text-center" [href]="row.claimLink">
          <ion-button [disabled]="!item.isEligible || item.isClaimed">
              @if(!item.isEligible){
                not eligible
                <ion-icon style="font-size:20px;" name="close-circle-outline"></ion-icon>
              }
              @else if (item.isClaimed) {
                claimed
                <ion-icon style="font-size:20px;" name="checkmark-circle-outline"></ion-icon>
              }@else {
               <span>
                 claim
               </span>
              }
              
            </ion-button>
          </a>
        </div>
      
    
    }
    </ng-template>
    <ng-template #amountTpl let-row let-rowIndex="rowIndex" let-column="column">
      @for (item of row.items; track $index) {
      <div class="ion-text-center">
        {{item.amount | number: '1.1-3'}} 
      </div>
    }
    </ng-template>

    <ng-template #pointsTpl let-row let-rowIndex="rowIndex" let-column="column">
      <div class="ion-text-center">
        {{row.points | number: '1.1-2'}}
      </div>
    </ng-template>

    <ng-template #valueTpl let-row let-rowIndex="rowIndex" let-column="column">
      <div class="ion-text-center">
        {{row.value | currency}}
      </div>
    </ng-template>
    <ng-template #platformIconTpl let-row let-rowIndex="rowIndex" let-column="column">
      <div class="platform-icon-wrapper ion-text-center">
        <ion-img [tooltip]="platformToolTipTpl" [alt]="row.name" [src]="row.image" #img (ionError)="img.src = 'assets/images/unknown.svg'" alt="platform icon"></ion-img>
        <ng-template #platformToolTipTpl>
          {{row.protocol}}
        </ng-template>
      </div>
    </ng-template>
  </ion-grid>
</ion-content>