ion-grid{
    top: -70px;
    position: relative;
}
// tokens style
.item {
    display: flex;
    align-items: center;

}
.platform-icon-wrapper{
    display: flex;
    justify-content: center;
    ion-img{
        width: 30px;
        border-radius: 50%;
        overflow: hidden;
    }
}
.item-img-wrapper {
    margin-inline-end: 12px;

    ion-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
}
.item-info {
    text-align: left;
    display: flex;
    flex-direction: column;

}
.item-bold {
    color: var(--ion-color-dark);
    /* Text sm/Medium */

    font-size: 14px;

    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.item-light {
    color: var(--ion-color-dark);

    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
}
ion-button{
    padding: 10px;
    display: block;
    text-transform: capitalize;
    span{
        color: var(--ion-color-light);
    }
}
a{
    display: block;
    width: 100%;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
}