.light-title {
    text-transform: capitalize;
    color: var(--ion-color-dark);
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-block-end: 8px;
    /* 138.462% */
}

ion-avatar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-segment {
    border-radius: 10px;
    border: 1px solid #E3E8EF;
    padding: 4px;
    flex-wrap: wrap;
    display: flex;
    --background: #F8FAFC;
}

.tooltip-icon {
    width: 16px !important;
    height: 16px !important;
    position: absolute;
    left: 0;
    top: 0;
}

ion-label {
    color: var(--ion-color-dark);
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    /* 138.462% */
}

ion-text {
    color: var(--ion-color-dark);
    text-align: center;
    font-size: 12px;
    margin-block-end: 8px;
}
ion-chip{
    font-weight: 600;
    border: 1px solid #F1D5EB;
    margin: 0;
    scale: 0.71;
}
ion-segment-button {
    flex: 1;
    --border-color: transparent;
    --padding-bottom: 0;
    --padding-end: 12px;
    --padding-start: 12px;
    --padding-top: 12px;
    --border-radius: 6px;
    --border-width: 2px;
    --border-style: solid;
    --indicator-box-shadow: 0px 0px 0px 0px var(--ion-color-primary);
    .pool-profile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .pool-name{
        display: flex;
        text-transform: capitalize;
        flex-direction: column;
    }
    ion-img {
        width: 36px;
        height: 36px;
        margin-block-end: 8px;
    }

}
#boosted{
    position: absolute;
    left: 0;
    border: 1px solid var(--ion-color-primary);
    padding: 2px 5px;
    border-radius: 4px;
    color: var(--ion-color-primary);
    font-size: 11px;
    opacity: 0.8;
}

@media only screen and (max-width: 992px) {
    ion-segment-button {
        flex: 100% !important;
    }
    .pool-profile{
        flex-direction: row !important;
        justify-content: space-between;
    }
    ion-avatar{
        margin: 0;
    }
}