<div id="select-pool-wrapper">
  <div class="light-title">select pool</div>
  <div id="pool-options">


    <ion-segment mode="ios" #loaded (ionChange)="selectPool($event)" [value]="defaultPool">
      @for (pool of stakePools(); track $index) {
      <ion-segment-button [value]="pool">
        <!-- <ion-popover trigger="hover-trigger" [showBackdrop]="false" triggerAction="hover">
          <ng-template>
            <ion-content class="ion-padding">Hello World!</ion-content>
          </ng-template>
        </ion-popover> -->
        <!-- <ion-img id="tooltip" class="tooltip-icon" src="assets/images/help-icon.svg" /> -->
        <div class="pool-profile">
          <ion-avatar>
            <ion-img [src]="pool?.tokenImageURL" />
          </ion-avatar>
          <div class="pool-name">
            <ion-label>{{pool?.poolName}}</ion-label>
            <ion-text>{{(2 - pool?.exchangeRate) * pool?.tokenMintSupply| number: '1.2-2'}} SOL</ion-text>
          </div>
          <ion-chip color="primary">{{pool?.apy | number: '1.2-2'}}%</ion-chip>
        </div>
      </ion-segment-button>
      }
    </ion-segment>
  </div>
</div>
<!-- @if(loaded){
  <ion-popover trigger="hover-trigger" [showBackdrop]="false" triggerAction="hover">
    <ng-template>
      <ion-content class="ion-padding">Hello World!</ion-content>
    </ng-template>
  </ion-popover>
} -->
<!-- <ion-segment-button   id="hover-trigger" >
  <ion-img class="tooltip-icon" src="assets/images/help-icon.svg" />



</ion-segment-button> -->