<div id="select-pool-wrapper">
  <div class="light-title">select pool</div>
  <div id="pool-options">


    <ion-segment mode="ios" #loaded (ionChange)="selectPool($event)" [value]="defaultPool">
      @for (pool of stakePoolFiltered(); track $index) {
      <ion-segment-button [value]="pool">
        
        <div class="pool-profile">
          <ion-avatar>

            <ion-img [src]="pool?.tokenImageURL" />
          </ion-avatar>
          <div class="pool-name">
            <ion-label>{{pool?.poolName}}</ion-label>
            <ion-text>{{ pool?.totalStake | number: '1.2-2'}} SOL</ion-text>
          </div>
          <div>

        
          <ion-chip color="primary">

            @if(pool?.poolName === 'hub'){
            {{ pool?.apy | percent : '1.2-2'}}
             
            
            }@else {
            {{pool?.apy | percent : '1.2-2'}}
            }
           
          </ion-chip>
      
          </div>
          @if(pool.poolName === 'hub'){
            <div id="boosted" class="ion-hide-lg-down">Boosted</div>
          
          }
        </div>
      </ion-segment-button>
      }@empty {
      @for (pool of [1,2,3]; track $index) {
      <ion-segment-button [value]="pool">
        <div class="pool-profile">
          <ion-avatar>

            <ion-skeleton-text animated />
          </ion-avatar>
          <div class="pool-name">
            <ion-label><ion-skeleton-text style="width: 40px;    margin: 4px auto;" animated /></ion-label>
            <ion-text><ion-skeleton-text style="width: 60px;    margin: 4px auto;" animated /> SOL</ion-text>
          </div>
          <ion-chip color="primary"><ion-skeleton-text style="width: 30px;" animated />%</ion-chip>
        </div>
      </ion-segment-button>
      }
      }
    </ion-segment>
  </div>
</div>
<!-- @if(loaded){
  <ion-popover trigger="hover-trigger" [showBackdrop]="false" triggerAction="hover">
    <ng-template>
      <ion-content class="ion-padding">Hello World!</ion-content>
    </ng-template>
  </ion-popover>
} -->
<!-- <ion-segment-button   id="hover-trigger" >
  <ion-img class="tooltip-icon" src="assets/images/help-icon.svg" />



</ion-segment-button> -->