
#ll-calc-title{
    color: var(--ion-color-dark);
    font-weight: 14px;
    font-weight: 600;
    margin-block-end: 6px;
}
#ll-calc-sub {
    color: var(--colors-text-text-tertiary-600, #4B5565);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 18px;
}

.calc-group {
    margin-block-end: 10px;
}
.g-head {
    display: flex;
    justify-content: space-between;
    margin-block-end: 6px;
    ion-label {
        color: var(--colors-gray-modern-500, #697586);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        display: flex;
        align-items: center;
        ion-img{
            width: 15px;
            border-radius: 50%;
            overflow: hidden;
            margin-inline-end: 4px;
        }
        a{
            font-weight: 600;
            text-decoration: none;
            text-transform: capitalize;
            margin-inline-start: 4px;
            font-size: 11px;
        }
    }

    div {
        color: var(--colors-gray-modern-800, #202939);
        text-align: right;
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
    }
}

#calc-summarize{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    border-top: 0.5px solid #34405473;
    margin-block-start: 15px;
    #calc-sum-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .reward-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ion-label{
            color: var(--colors-gray-modern-800, #202939);
            font-size: 12px;
        }
        ion-text{
            text-transform: none;
            color: var(--ion-color-primary);
            font-weight: 500;
        }
    }
    .stake-boost-tool-tip {
        border-bottom: 2px dashed var(--ion-color-primary);
    }
}


ion-toggle{
    --handle-background: url(/assets/images/percentage-icon.svg);
    --track-background-checked: #e7e7e7;
    zoom: 0.6;
    &::part(handle) {
        // height: 10px;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
    }
    &::part(track) {
        width: 58px;
        // --track-background: url(/assets/images/usdc-sol.svg);
        // --track-background-checked: url(/assets/images/usdc-sol.svg);
        background-size: 78%;
        background-color: var(--ion-color-page-top);
        background-repeat: no-repeat;
        background-position: 58% center;
    }
    &.toggle-checked  {
        --handle-background-checked: url(/assets/images/hubsol-icon.png), white;
    }
}