<div class="ion-padding data-set" id="calc-boost-wrapper">
  <div id="ll-calc-title">Loyalty League stake boost calculator</div>
  <form [formGroup]="boostForm">
  <div class="calc-group">
    <div class="g-head">

      <ion-label>Native stake </ion-label>
      <div>{{multipliers.nativeStake.toFixedNoRounding(3)}}x</div>
    </div>
    <ion-input type="number" formControlName="native"/>
  </div>
  <div class="calc-group">
    <div class="g-head">
      <ion-label>hubSOL</ion-label>
      <div>{{multipliers.hubSOL_DirectStakeBoost.toFixedNoRounding(3)}}x</div>
    </div>
    <ion-input type="number" formControlName="hubSOL"/>
  </div>
  <div class="calc-group">
    <div class="g-head">
      <ion-label>vSOL</ion-label>
      <div>{{multipliers.vSOL_DirectStakeBoost.toFixedNoRounding(3)}}x</div>
    </div>
    <ion-input type="number" formControlName="vSOL"/>
  </div>
  <div class="calc-group">
    <div class="g-head">
      <ion-label>bSOL</ion-label>
      <div>{{multipliers.vSOL_DirectStakeBoost.toFixedNoRounding(3)}}x</div>
    </div>
    <ion-input type="number" formControlName="bSOL"/>
  </div>
  <div class="calc-group">
    <div class="g-head">
      <ion-label>veBLZE</ion-label>
      <div>{{multipliers.veBLZE_Boost.toFixedNoRounding(4)}}x</div>
    </div>
    <ion-input type="number" formControlName="veBLZE"/>
  </div>
  <div class="calc-group">
    <div class="g-head">
      <ion-label>veMNDE</ion-label>
      <div>{{multipliers.veMNDE_Boost.toFixedNoRounding(3)}}x</div>
    </div>
    <ion-input type="number" formControlName="veMNDE"/>
  </div>
  <div class="calc-group">
    <div class="g-head">
      <ion-label>Own .HUB domain</ion-label>
      <ion-checkbox formControlName="hubDomain"/>
    </div>
  </div>

</form>
  <div id="calc-summarize">
    <ion-label>your stake boost: </ion-label>
    <ion-text  class="stake-boost-tool-tip" [tooltip]="stakeBoost">{{(boostSum | async | percent: '1.2-2') || 0}} APR</ion-text>
    <ng-template #stakeBoost>
      Paid weekly in hubSOL
    </ng-template>
  </div>
</div>