// Variables
$color-dark: var(--ion-color-dark);
$color-gray: #697586;
$color-light-gray: var(--ion-light-gray);
$color-border:  var(--ion-color-border);
$color-separator: #EEF2F6;

// Typography
$font-size-sm: 13px;
$font-size-lg: 20px;
$font-size-xl: 36px;

// Common mixins
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

// Base styles
#earning-claimed {
  padding-block-end: 20px;
  border-bottom: 1px solid $color-separator;
  justify-content: space-around;
  display: flex;
  text-align: center;
  margin-block-end: 16px;
  #extracted-sol{
    width: 50%;
    border-right: 1px solid #EEF2F6;
  }
  #referral-fees{
    width: 50%;
  }
}

.earning {
  &-sub-title {
    color: $color-light-gray;
    font-size: $font-size-sm;
    font-weight: 500;
    line-height: 18px;
  }

  &-value {
    color: $color-dark;
    font-size: $font-size-xl;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;
  }
}
#earning-container {
    width: 400px;
    margin: 0 auto;
    max-width: 100%;
}

// Ion components
ion-label {
  display: block;
  color: $color-dark;
  text-align: center;
  font-size: $font-size-lg;
  font-weight: 600;
  margin-block-end: 8px;
}

ion-text {
  color: $color-gray;
  text-align: center;
  font-size: $font-size-sm;
  line-height: 18px;
  margin-block-end: 18px;
  display: block;
}

#referral-link-input {
  display: flex;
  gap: 8px;
}


#referral-link-wrapper span {
    display: block;
  color: $color-dark;
  font-size: $font-size-sm;
  font-weight: 600;
  line-height: 18px;
  margin-block-end: 8px;
}
.earning-value ion-skeleton-text{
  width: 100px;
  margin:  auto;
  line-height: 44px;
  border-radius: 4px;
}
ion-input {
  overflow: hidden;
  color: $color-gray;
  text-overflow: ellipsis;
  font-size: $font-size-sm;
  line-height: 18px;
  border-radius: 6px;
  min-height: 33px !important;
}

.ref-btn {
  font-size: $font-size-sm;
  font-weight: 600;
  text-transform: capitalize;
  --color: var(--ion-color-dark);
  --background: var(--ion-color-light);;
  --background-hover: var(--ion-color-page-top);
  --padding-bottom: var(--spacing-lg, 8px);
  --padding-top: var(--spacing-lg, 12px);
  --padding-start: var(--spacing-lg, 8px);
  --padding-end: var(--spacing-lg, 12px);
  --border-radius: 6px;
  --border-style: solid;
  --border-width: 1px;
  --border-color:  var(--ion-color-border);
  --box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  ion-icon {
    margin-inline-end: 6px;
    font-size: 16px;
  }
}