// tokens & validator style
.item {
    display: flex;
    align-items: center;

}

.item-img-wrapper {
    margin-inline-end: 12px;

    ion-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
}
.item-info {
 
    display: flex;
    flex-direction: column;

}
.item-bold {
    color: var(--ion-color-dark);
    /* Text sm/Medium */

    font-size: 14px;

    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.item-light {
    color: var(--ion-color-medium);

    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
}
.tx-out {
    display: flex;
    justify-content: center;
}

.collection-info {
    display: flex;
    align-items: center;
}
.img-ph{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-inline-end: 4px;
    overflow: hidden;
    background-color: #CDD5DF;
    ion-img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-inline-end: 4px;
        overflow: hidden;
        background-color: #CDD5DF;
    }
    &.border-ph {
            margin-inline-end: 4px;
            border-radius: 4px;
        }
    
    
}



.collection-name {
    width: 30%;
    text-transform: capitalize;
    color: #101828;
    font-size: 14px;
    font-weight: 500;
}

.nft-list {
    display: flex;
    align-items: center;

    .nft-remaining {
        color: var(--ion-color-medium);
        text-align: center;
        font-size: 11px;
        font-weight: 500;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background: var(--ion-color-app-bg-2);
    }
}


ion-chip {
    font-size: 11px;
    font-weight: 500;
    border-radius: var(--radius-full, 1000px);
    border: 1px solid #D5D9EB;
    background: #F8F9FC;
    &.primary {
        border: 1px solid #FDD1EE;
        background: var(--ion-color-btn-bg);;
        color: var(--ion-color-primary);
    }


    &.green {
        border: 1px solid  #ABEFC6;
        background:  #ECFDF3;
        color: var(--ion-color-success);
    }

    &.blue {
        border: 1px solid #B2DDFF;
        background: #EFF8FF;
        color: rgba(23, 92, 211, 1);
    }
}


.pool-item {
    display: flex;
    align-items: center;
    margin-inline-end:15px;
    .pool-img-wrapper{
        display: flex;
        margin-inline-end: 12px;
        ion-img{
            margin-inline-end: 4px;
            width: 30px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
    .pool-item-info{
        text-align: center;
        color: var(--ion-color-dark);

        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
    }
}


.platform-icon-wrapper{
    display: flex;
    justify-content: center;
    ion-img{
        width: 30px;
        border-radius: 50%;
        overflow: hidden;
    }
}