
#assets-title {
    color: var(--colors-text-text-primary-900, #101828);
    // font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    /* 175% */
    letter-spacing: 0.16px;
}

#assets-sub {
    overflow: hidden;
    color: var(--gray-modern-500, #697586);
    text-overflow: ellipsis;
    // font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 13px */
}
