<div style="padding: 20px 32px;">

  <div id="assets-title">
    your assets
  </div>
  <div id="assets-sub">
    Obtain a comprehensive and detailed overview of your assets
  </div>
</div>

<app-table-menu [menu]="tableMenuOptions" [currentTab]="'Tokens'"></app-table-menu>
<div id="table-wrapper">
  <ngx-table #table (event)="eventEmitted($event)" [configuration]="configuration" [data]="data()" [columns]="columns">
  </ngx-table>
  @if (configuration.paginationEnabled) {
  <div id="table-controls">
    <ion-button mode="md" fill="clear" (click)="previousPage()">
      <ion-icon name="arrow-back"></ion-icon>
      previous
    </ion-button>
    <ion-button mode="md" fill="clear" (click)="nextPage()">
      next
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
  }
</div>


<ng-template #tokenTpl let-row let-rowIndex="rowIndex" let-column="column">
  <div class="asset">

    <div class="asset-img-wrapper">
      <ion-img [src]="row.imgUrl" loading="lazy" alt="image" />
    </div>
    <div class="asset-info">
      <div class="asset-symbol">{{row.symbol}}</div>
      <div class="asset-name">{{row.name}}</div>
    </div>

  </div>
</ng-template>