#swap-setting {
    display: flex;
    justify-content: space-between;
    margin-block-end: 8px;
    #route-configs ion-button{
        margin-inline-end: 4px;
        ion-img {
            margin-inline-end: 7px;
        }
    }
    ion-button {
        --background: var(--ion-color-light);
        --color: var(--ion-color-dark);
        --padding-bottom: 0;
        --padding-top: 0;
        --border-radius: 40px;
        --padding-end: 0;
        --padding-start: 0;
        text-transform: capitalize;
        font-size: 11px;
        font-weight: 500;
        min-height: 28px;
        width: 73px;

        ion-img {
            font-size: 12px;
            color: #9AA4B2;
        }
    }

    #reload-route {
        width: 28px;
        height: 28px;
    }
    .circle {
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        cursor:pointer;
      }
      .wave {
        z-index: -1;
        background-color: var(--ion-background-color);
        position: absolute;
        top: 110%;
        height: 200%;
        width: 200%;
        border-radius: 38%;
        left: -50%;
        transform: rotate(360deg);
        transition: all 5s ease;
        animation: wave 30s linear infinite;
      }
      @keyframes wave {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(3600deg); }
      }
      .circle:hover .wave {
        top: 0%;
      }
}
