ion-icon{
    position: absolute;
    top: -4px;
    font-size: 14px;
    color: black;
    background: var(--ion-color-light);
    right: 0;
    z-index: 2;
    border-radius: 50%;
    cursor: pointer;
}
ion-fab-button {
    width: 45px;
    height: 45px;
    ion-img{
        width: 25px;
    }
}
