ion-label {
    color: var(--Gray-700, var(--ion-color-medium));
    font-size: 13px;
    font-weight: 500;
    margin-block-end: 8px;
    display: block;
    text-transform: capitalize;
}
#table-head {
    text-transform: capitalize;
    color: #4B5565;
    font-size: 11px;
    font-weight: 500;
    display: flex;
    padding: 0 20px 8px;
  }
  
#pool-control{
    height: 450px;
    width: 100%;
}
  
  .pool {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #E3E8EF;
    margin-block-end: 8px;
  
    &.selected {
      border: 2px solid var(--ion-color-primary);
  
      ion-chip {
        border: 1px solid #F1D5EB !important;
        background: #FAF0F8 !important;
        color: var(--ion-color-primary) !important;
      }
    }
  
    cursor: pointer;
  
    .pool-profile {
      display: flex;
      align-items: center;
      flex: 2.1;
      position: relative;
      div {
        display: flex;
        flex-direction: column;
      }
  
      ion-img,ion-skeleton-text {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        margin-inline-end: 12px;
      }
      ion-skeleton-text{
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
    }
      ion-label {
        color:  #121926;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
      }
  
      ion-text {
        color:  #4B5565;
        font-size: 11px;
        line-height: 16px;
        /* 145.455% */
      }
  
    }
  
    .pool-stats {
      display: flex;
      flex: 1.4;
      justify-content: space-between;
      align-items: center;
  
      .commission, .exchange-rate {
        padding-inline-start: 24px;
        color: #4B5565;
        font-size: 13px;
        line-height: 18px;
        /* 138.462% */
      }
  
      div {
        width: 50%;
        text-align: center;
      }
  
      ion-chip {
        border-radius: var(--radius-full, 1000px);
        border: 1px solid var(--Component-colors-Utility-Gray-utility-gray-200, #E3E8EF);
        background: var(--Component-colors-Utility-Gray-utility-gray-50, #F8FAFC);
        color: var(--Component-colors-Utility-Gray-utility-gray-700, var(--ion-color-dark));
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
      }
    }
  }
  
  
  #delegate-summary {
    height: 160px;
}
#delegate-calc {
    border-radius:  8px;
    border: 1px solid  #E3E8EF;
    background:  #F8FAFC;
    padding: 16px;
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
    color:  #101828;
    .delegate{
        font-weight: 400;
        display: flex;
        justify-content: space-between;
    }
    .delegate-id,.delegate-address{
        flex: 1;
    }
    .delegate-id{
        font-weight: 600;
    }
    .delegate-value{
        color:  #475467;
    }
}

