<div id="container">
  <div id="not-connected-box">
    
    <div id="img-wrapper">
      <ion-img src="/assets/images/bg-wallet-no-connected.svg"/>
    </div>
    <ion-label>
      Stash finder
    </ion-label>
    <ion-text>

      Introducing Stash Finder – your personal financial assistant!<br/> This intelligent BOT tirelessly searches for idle SOL in your portfolio, offering you the perfect opportunities to either extract it or convert it into high-yield assets. Maximize your returns effortlessly with Stash Finder by your side!
 </ion-text>
 

   <div id="btn-wrapper">
     <ion-button (click)="onStartAnalyze.emit()">Find idle SOL</ion-button>
    </div>
 
  </div>
</div>