<div id="container">
  <div id="stash-box">
    @if(preview){
      <div class="inner" @easeOut>

        <div id="img-wrapper">
          <ion-img src="/assets/images/stash-icon.svg"/>
        </div>
        <ion-label>
          Welcome to Stash
        </ion-label>
        <ion-text>
          Introducing Stash Finder – your personal financial assistant!<br/> 
          This intelligent BOT tirelessly searches for idle SOL in your portfolio,
          offering you the perfect opportunities to either extract it or convert it into high-yield assets. <br/>
          Maximize your returns effortlessly with Stash Finder by your side!
        </ion-text>
        <div id="btn-wrapper">
          <ion-button (click)="startAnalyze()">Find stashed assets</ion-button>
        </div>
      </div>
    }
    
    @else{
      <div class="inner" @easeIn>

        <div #animationEl style="width:400px"></div>
        <ion-text>
          Looking for value in <span [@fadeAnimation]="toggle" (@fadeAnimation.done)="nextWord($event)">{{wordCarousel[wordCounter]}}</span>
        </ion-text>
      </div>
    }

 
  </div>
</div>