<div id="container">
  <div id="stash-box">
    
      <div class="inner" @easeOut *ngIf="preview">
        
        <div id="img-wrapper">
          <ion-img src="/assets/images/stash-icon.svg"/>
        </div>
        <ion-label>
          Introducing Stash Finder – your smart financial assistant!
        </ion-label>
        <ion-text> 
          This intelligent bot scans your wallet for unused SOL, uncovering hidden assets that can be 
          extracted or reinvested into high-yield opportunities.
        </ion-text>
        <div id="btn-wrapper">
          <ion-button (click)="startAnalyze()">Uncover Hidden Balance</ion-button>
        </div>
        <p id="estimated-value" >  <span class="text-primary">Estimated Stash Value: </span>
          @if(estimateStashValue){
           <span style="font-weight: 600; color: var(--ion-color-primary);">{{estimateStashValue | currency:'USD'}}</span>
          }@else {
            <ion-skeleton-text animated/>
          }</p>
      </div>
    
    
      <div class="inner" @easeIn *ngIf="!preview">

        <div #animationEl style="width:400px"></div>
        <ion-text>
          Looking for value in <span [@fadeAnimation]="toggle" (@fadeAnimation.done)="nextWord($event)">{{wordCarousel[wordCounter]}}</span>
        </ion-text>
      </div>
    

 
  </div>
</div>