
<div class="nft">
  <div class="nft-img-wrapper">
    @if(nft?.image_uri){
      <ion-img
       (ionImgDidLoad)="loadImage()" (ionError)="img.src = 'assets/images/unknown.svg'" 
      #img [src]="nft?.image_uri" />
    }
    @if (!imagesLoaded) {
      <ion-skeleton-text [animated]="true" />
    }
  </div>
  <div class="nft-body">
    <ion-text>
      @if (nft?.name) {
      {{nft?.name}}
      }@else{
      <ion-skeleton-text style="width: 50%;" [animated]="true" />
      }
    </ion-text>
    <div>


      <div class="floor-price">
        @if (nft?.floorPrice || nft?.floorPrice === 0) {
          @if (nft?.floorPrice === 0) {
            
              N/A
           
          }@else{
            {{nft?.floorPrice | number:'1.2-2'}} SOL
          }
        }@else{
          <ion-skeleton-text style="width: 20px; height: 10px;" [animated]="true" />
        }
        
        <ion-icon style="font-size: 12px;margin-inline-start: 4px;" name="pricetag-outline"/>
       
      </div>
      <!-- <ion-text>

    </ion-text> -->
    <ion-button value="modal-btn" (click)="openNftPreview()" fill="clear">
      <ion-icon  name="ellipsis-horizontal" />
    </ion-button>
    </div>
  </div>
  
</div>

