#authorities-selection {
    height: 290px;
    // width: 500px;
}

#checkbox-wrapper {
    display: flex;
    justify-content: space-between;
}

#current-auth {
    color: #697586;
    font-size: 12px;
    font-weight: 700;

    .auth-wrapper {
        padding-inline: 16px;
        padding-block: 8px;
        border-radius: var(--radius-md, 8px);
        border: 1px solid var(--Colors-Border-border-secondary, #E3E8EF);
        background: var(--Colors-Gray-modern-50, #F8FAFC);
    }

    .auth-values {
        display: flex;
        justify-content: space-between;
        
        color: var(--colors-text-text-primary-900, #101828);
        font-size: 12px;
        ion-label {
            font-weight: 600;
            line-height: 20px;
            margin-block-end: 0;
            /* 166.667% */
        }

        ion-text {            
            font-weight: 400;
            line-height: 20px;
            /* 166.667% */
        }
    }


}

ion-label {
    text-transform: capitalize;
    color: #344054;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-block-end: 8px;
    display: block;
}

ion-checkbox {
    text-transform: capitalize;

    &.checkbox-checked {
        border-color: var(--ion-color-primary);
        flex-direction: row;
        align-items: flex-start;
    }

    &::part(container) {
        position: absolute;
        top: 10px;
        right: 10px;
    }

}

.wrapping-list .item-content,
.wrapping-list .item {
    overflow: initial;
    white-space: initial;
}

.stake-type {
    flex-direction: column;
    // display: flex;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid #E3E8EF;
    width: 49%;
    transition: 0.3s ease all;
    cursor: pointer;



    .icon-wrapper {
        display: flex;
        padding: 10px;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #E3E8EF;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

        ion-img {
            width: 20px;
            height: 20px;
        }
    }

    .type-title {
        color: #121926;
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        margin-block-end: 2px;
    }


}

.type-desc {
    color: #697586;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
}