<div id="split-stake-account">
  <ion-label>Target account</ion-label>
  <stake-position [stakeAccount]="targetStakeAccount" />
  <div id="current-auth" class="ion-margin-bottom">
    
      <ion-label>
      current authorities:
      </ion-label>
   <div>

     <ion-text>
       Stake: {{targetStakeAccount.stakeAuth}},
      </ion-text> 
      <ion-text>
        Withdraw: {{targetStakeAccount.withdrawAuth}}
      </ion-text> 
    </div>
  </div>
  <div class="control-group ion-margin-bottom">
    <ion-label>Recipient’s address</ion-label>
    <ion-input (ionInput)="updateTransferAuth('addr')" #targetAddress></ion-input>
  </div>

  <div id="authorities-selection" class="ion-margin-bottom">
    <ion-label>select authority to transfer</ion-label>
    <div id="checkbox-wrapper" class="ion-margin-bottom">
      <ion-checkbox mode="md" class="stake-type wrapping-list" value="withdraw" (ionChange)="updateTransferAuth($event.detail)">
        <!-- <div class="inliner">
          <div class="icon-wrapper">
            <ion-img src="assets/images/lock-icon.svg" /> 
          </div>
      
        </div> -->
        <div>

          <div class="type-title">withdraw</div>
          <ion-label class="ion-text-wrap type-desc">
            Withdraw Authority can move or withdraw funds
          </ion-label>

        </div>
      </ion-checkbox>
      <ion-checkbox mode="md" class="stake-type wrapping-list" value="stake" (ionChange)="updateTransferAuth($event.detail)">
        <!-- <div class="inliner">
          <div class="icon-wrapper">
             <ion-img src="assets/images/droplets-icon.svg" />
          </div>
        </div> -->
        <div>

          <div class="type-title">stake</div>
              <ion-label class="ion-text-wrap type-desc">
                Stake Authority is responsible for staking actions like delegating to validators
              </ion-label>    
     
        </div>
      </ion-checkbox>
      
    </div>
    @if(this.authoritiesChecked().withdraw){
      <alert text="Please note: If you transfer your withdraw authority, you'll be giving up control over your funds"/>
    
    }
</div>
</div>