<div id="burn-nft-modal">

  <div class="ion-margin-bottom">
    <alert type="danger"  text="Once burned, your nfts will be completely loss" />
  </div>
  <div id="nfts-list">
    @for (nft of nfts; track $index) {
      <nft-modal-item [nft]="nft"/>
    }
  </div>

  <div id="burn-summary">
    <ion-label>Burn summary</ion-label>
    <div id="burn-calc">
      <div class="item">
        <div class="item-id">items selected</div>
        <div class="item-value">{{nfts.length}}</div>
      </div>
      <div class="item">
        <div class="item-id">get from burning</div>
        <div class="item-value">{{nfts.length * 0.01 | number: '1.2'}} SOL</div>
      </div>
     
    </div>
  </div>
</div>