

#lock-up {

    .light-title {
        text-transform: capitalize;
        color: #344054;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        margin-block-end: 8px;
        /* 138.462% */
    }
    
    .type-desc {
        color: #697586;
        font-size: 12px;
        font-weight: 400;
        line-height: 130%;
        /* 15.6px */
    }
    
    #lock-selection {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #lock-text-wrapper {
            margin-block-end: 4px;
            width: 85%;
        }


        .light-title {
            margin-block-end: 4px;
        }

    }

    ion-toggle {
        --track-background: #EEF2F6;
        --handle-border-radius: 1000px;
        --border-radius: 1000px;
        --handle-height: 20px;
        --handle-width: 20px;

        &::part(track) {
            width: 44px;
            height: 24px;
        }
    }

    ion-range {
        --bar-height: 8px;
        --bar-background: #E3E8EF;
        --bar-border-radius: 1000px;
        --knob-size: 24px;
        --knob-background: white;
        --knob-box-shadow: 0px 0px 0px 2px var(--ion-color-primary);
        --pin-background: white;
        --pin-color: #121926;

        &::part(pin) {
            background: transparent;
            transform: translateY(36px);
            width: 68px;
            font-size: 12px;
            font-weight: 500;
            &::before {
                background: transparent;
            }
        }
    }
}