<div id="lock-up">
  <div id="lock-selection">
    <div id="lock-text-wrapper">
      <div class="light-title">Lock your stake</div>
      <div class="type-desc">Locking will create a stake account that is locked for the duration of time you specify
      </div>
    </div>
    <ion-toggle mode="ios" (ionChange)="toggleDuration($event)" #addLock />
  </div>
  @if (addLock.checked) {
  <ion-range mode="md" min="0" max="12" formControlName="lockupDuration" [pin]="true" [pinFormatter]="pinFormatter" />
  }
</div>