:root .dark-theme {
	// theme colors
	--ion-color-primary: #B84794;
	--ion-color-tertiary: #5260ff;
	--ion-color-success: #17B26A;
	--ion-color-warning: #F79009;
	--ion-color-danger: #F04438;
	--ion-color-dark: #FFFFFF;
	--ion-color-light: #0D121C;
	--ion-light-gray: #CDD5DF;
	
	// borders & text
	--ion-color-page-top: #3E142F;;
	--ion-color-border: #202939;
	--ion-background-color: #121926;
	--ion-color-primary-bg: #3E142F;
}