<div class="ion-padding">
  <div id="modal-intro">
    <div>
      <div class="icon-wrapper">
        <ion-img src="assets/images/clean-icon.svg" />
      </div>

      <div id="title">Stash summary</div>
      <div id="desc">You can clean up your stash by cleaning up your wallet</div>
    </div>

    <ion-img (click)="closeModal()" id="close-modal" src="assets/images/close-icon.svg" />

  </div>
  <div id="burn-stash-modal">

    <!-- <div class="ion-margin-bottom">
      <alert type="danger" text="This operation is not reversible" />
    </div> -->
    <div id="stashs-list">
      @for (item of stashAssets; track $index) {
      <!-- <stash-modal-item [stash]="stash"/> -->
      <div class="stash-item">
        <div class="stash-profile">
          <ion-img [src]="item.platformLogoURI || item.logoURI" #img (ionError)="img.src = 'assets/images/unknown.svg'" />
          <div>
            <ion-label>{{item.name}}</ion-label>
            <ion-text>{{item.symbol}}</ion-text>
          </div>
        </div>
        
        <div class="floor-price">
          @if(item.type === 'defi-position'){
            @for (balance of item.extractedValue | keyvalue; track $index) {{{ $index === 1 ? '-' : '' }}{{utils.fixedNumber(balance.value || 0)}}}
            
          }
          @else{
            {{utils.fixedNumber(item?.balance || 0)}} {{item.symbol}}
          }
        </div>
        
      </div>
      }
    </div>

    <div id="burn-summary">
      <ion-label>Cleanup summary</ion-label>
      <div id="burn-calc">
  
        <div class="item">
          <div class="item-id">items selected</div>
          <div class="item-value">{{stashAssets.length}}</div>
        </div>
        <div class="item">
          <div class="item-id">get from cleaning up</div>
          <div class="items-wrapper">
            @if(swapTohubSOL){

              <div class="item-value">{{utils.fixedNumber(summary['SOL'] / hubSOLRate)}} hubSOL</div>
            }@else{
              @for (item of summary | keyvalue; track $index) {

              <div class="item-value">{{utils.fixedNumber(item.value)}} {{item.key}}</div>
              }
            }
          </div>
        </div>
        <div class="item">
          <div class="item-id">platform fee</div>
          <div class="item-value">{{utils.fixedNumber(platformFeeInSOL())}} SOL</div>
        </div>
      </div>
    </div>
    @if(stashAssets[0].type == 'value-deficient'){
      <div class="ion-margin-bottom">
        <alert type="danger" text="Not all tokens have visible market price, burn with caution" />
        <ion-checkbox (ionChange)="burnWithCautionConfirmed = $event.detail.checked">I understand the risks</ion-checkbox>
      </div>
    }
    @if(stashAssets[0].type == 'dust-value'){
      <div class="ion-margin-bottom">
        <alert type="warning" text="Bulk swap may have price slippage or failed routes" />
      </div>
    }
    @if(stashAssets[0].type == 'defi-position'){
      <div class="ion-margin-bottom">
        <alert type="focus" text="Balances from unclaimed fees not visible in the summary" />
      </div>
    }
    <div id="modal-controls">
      <!-- <ion-button (click)="closeModal()" fill="clear">cancel</ion-button> -->
      <ion-button [disabled]="stashState() !== actionTitle " (click)="submit(stashAssets)">{{stashState()}}</ion-button>
    </div>
  </div>
</div>