
#container {
    border-radius: 12px;
    background: var(--ion-color-light);;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: flex;
    justify-content: center;
    transform: translateY(-70px);
    margin: 0 auto;
}
#not-connected-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 512px;
    padding: 50px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/images/bg-decorative.svg');
}

ion-img {
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
}

ion-label {
    color: var(--Gray-900, var(--ion-color-dark));
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 8px;
}

ion-text {
    color: var(--Gray-600, #475467);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 32px;
}

#btn-wrapper {
    width: 260px;
}

@media only screen and (max-width: 1000px) {
#container{
    transform: translateY(-42px);
}
    
}