
    <ion-accordion-group [value]="['first']">
      <ion-accordion value="first">
        <ion-item lines="none" slot="header">
          <ion-label>Is there a minimum stake to participate in the program? </ion-label>
        </ion-item>
        <ion-text class="ion-padding" slot="content">Yes, the sum of all your native or liquid stake stake needs to be above 1 SOL</ion-text>
      </ion-accordion>
      <ion-accordion>
        <ion-item lines="none" slot="header">
          <ion-label>I staked but i cant see my points, why?</ion-label>
        </ion-item>
        <ion-text class="ion-padding" slot="content">Loyalty Point snapshots are taken daily. 
          In some cases, your points may not update due to delays in third-party snapshots (such as from Marinade or Solblaze).</ion-text>
      </ion-accordion>
      <ion-accordion>
        <ion-item lines="none" slot="header">
          <ion-label>How to boost my Loyalty Points?</ion-label>
        </ion-item>
        <ion-text class="ion-padding" slot="content"> 
          <ul>
            <li>stake native sol</li>
            <li>hold hubSOL</li>
            <li>direct stake bSOL/mSOL</li>
            <li>vote DAO tokens like MNDE/BLZE</li>
            <li>refer a friend and receive 20% of their total points</li>
            <li>own .hub domain (<a href="https://alldomains.id/domains/hub" target="_blank">here</a>)</li>
          </ul>
        </ion-text>
      </ion-accordion>
      <!-- <ion-accordion>
        <ion-item lines="none" slot="header">
          <ion-label>How my airdrop is calculated?</ion-label>
        </ion-item>
        <ion-text class="ion-padding" slot="content">The airdrop formula is:
          <code>your points / total points * weekly airdrop</code> </ion-text>
      </ion-accordion> -->
      <ion-accordion>
        <ion-item lines="none" slot="header">
          <ion-label>How often do I get an airdrop?</ion-label>
        </ion-item>
        <ion-text class="ion-padding" slot="content">Airdrops get sent directly to your wallet on a weekly basis on every Sunday </ion-text>
      </ion-accordion>
      <ion-accordion>
        <ion-item lines="none" slot="header">
          <ion-label>My points dont move much, why?</ion-label>
        </ion-item>
        <ion-text class="ion-padding" slot="content">Your points are calculated daily, based on the amount of your stake. It will only change if the multipliers or your method of staking is changed. </ion-text>
      </ion-accordion>
    </ion-accordion-group>

  <div id="resource">
    <ion-text>
      <!-- Enhance your knowledge by diving deep into the Loyalty League -->
      For further information, visit:
    </ion-text>
      <a href="https://docs.solanahub.app/solanahub/loyalty-league" target="_blank">
        <ion-button color="light">Documentation <ion-icon name="exit-outline"></ion-icon></ion-button>
      </a>
</div>