<ion-accordion-group [value]="['first']">
  <ion-accordion value="first">
    <ion-item lines="none" slot="header">
      <ion-label>Is there a minimum stake requirement to participate? </ion-label>
    </ion-item>
    <ion-text class="ion-padding" slot="content">No, there's no minimum. You can start with any amount.</ion-text>
  </ion-accordion>
  <ion-accordion>
    <ion-item lines="none" slot="header">
      <ion-label>I've staked but can't see my points. Why?</ion-label>
    </ion-item>
    <ion-text class="ion-padding" slot="content">Point updates occur every few hours. 
      Delays may happen due to third-party snapshots (e.g., from the vault or Solblaze). Your points will appear soon.</ion-text>
  </ion-accordion>
  <ion-accordion>
    <ion-item lines="none" slot="header">
      <ion-label>How can I increase my Loyalty Points?</ion-label>
    </ion-item>
    <ion-text class="ion-padding" slot="content"> 
      <ul>
        <li>Stake native SOL</li>
        <li>Hold hubSOL or deposit into supported DeFi protocols</li>
        <li>Direct stake bSOL/vSOL</li>
        <li>Vote with DAO tokens like MNDE/BLZE</li>
        <li>Refer friends and earn 5% of their total points</li>
      </ul>
    </ion-text>
  </ion-accordion>
  <ion-accordion>
    <ion-item lines="none" slot="header">
      <ion-label>What's the airdrop frequency?</ion-label>
    </ion-item>
    <ion-text class="ion-padding" slot="content">Airdrops are distributed at the end of each season, approximately every 3 months. </ion-text>
  </ion-accordion>
</ion-accordion-group>

<div id="resource">
  <ion-text>
    For more detailed information on the Loyalty League:
  </ion-text>
    <a href="https://docs.solanahub.app/solanahub/loyalty-league" target="_blank">
      <ion-button color="light">View Documentation <ion-icon name="exit-outline"></ion-icon></ion-button>
    </a>
</div>
