:host {
    display: block;
}


ion-accordion-group {
    margin-block-end: 50px;
}

ion-accordion {
    border-radius: var(--radius-xl, 12px);
    border: 1px solid  var(--ion-color-border);
    background: var(--ion-background-color);
    margin-block-end: 8px;

    ion-item {
        --border-color: transparent;
        --background: var(--ion-background-color);

        ::ng-deep {
            ion-icon {
                color: var(--ion-light-gray);
                font-size: 20px;
            }
        }
    }

    ion-label {
        color: var(--ion-light-gray);
        font-weight: 500;
        line-height: 18px;
    }

    ion-text {
        padding: 0px 15px 15px;
        display: block;
        color: var(--ion-light-gray);
    }
}

ion-text {
    color: var(--ion-color-dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
}

ion-button {
    --color: var(--ion-color-dark);
    border-radius: var(--radius-sm, 6px);
    border: 1px solid   var(--ion-color-border);
    --background: var(--ion-color-light);;
    font-size: 13px;
    font-weight: 600;

    ion-icon {
        margin-inline: 5px;
    }
}

#resource {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
}