<div class="ion-padding" id="stake-wrapper">
  <div id="stake-intro">
    <div id="title">stake your SOL</div>
    <div id="desc">choose between native and liquid staking a</div>
  </div>
  <input-label label="stake amount" (onSetSize)="setStakeSize($event)" [asset]="asset" />
  <form [formGroup]="stakeForm">
    <div id="input-control" class="ion-margin-bottom">
      <span>
        <label>SOL</label>
        <ion-input formControlName="amount" mode="ios" placeholder="0" inputmode="decimal" />
      </span>
      <div>{{solPrice() * stakeForm.controls['amount'].value | currency}}</div>
    </div>

    <stake-path style="display: block;" class="ion-margin-bottom" (onSelectPath)="selectStakePath($event)"/>
    @if(stakePath() === 'native'){
      <select-validator [validatorsList]="validatorsList" (onSelectValidator)="setValidator($event)"/>
    }
    @if(stakePath() === 'native'){
      <lock-stake (onLockUpSelected)="stakeForm.controls['lockupDuration'].setValue($event)" />
    }
    @if(stakePath() === 'liquid'){
      <select-stake-pool style="display: block;" class="ion-margin-bottom" [stakePools]="stakePools" (onSelectPool)="setPool($event);"/>
    }
    @if(stakePath() === 'liquid' && stakeForm.controls['pool'].value.poolName != 'Jito'){
      <custom-validator>
        <select-validator [validatorsList]="validatorsList" (onSelectValidator)="setValidator($event)"/>
      </custom-validator>
    }
    <ion-button id="stake-btn" (click)="submitNewStake()" class="ion-text-capitalize" [disabled]="stakeForm.invalid" expand="block">
     @if (!stakeForm.controls['amount'].value) {
       enter stake amount
     } @else if ((!stakeForm.controls['validatorVoteIdentity'].value && stakePath() === 'native') || (!stakeForm.controls['pool']?.value  && stakePath() === 'liquid')) {
      select {{stakePath() === 'native' ? 'validator' : 'pool'}}
     } @else {
      stake
     }
    </ion-button>
  </form>

  @if (stakeForm.valid) {
    <apy-calc [apy]="stakeAPY()" [amount]="stakeForm.controls['amount'].value"/>
  }
</div>