<ion-content [fullscreen]="true">

  <ion-row id="promo">
    <ion-col id="promo-text">
      <div id="title">Explore hubSOL</div>
      <div id="slogen">
        Powerful liquid stake solution
      </div>
      <div id="intro">Unlock the power of your SOL with self-custodial liquid stake token hubSOL and enjoy secure,
        and boosted stake experience. </div>

      <div class="hubSOL-metrics ion-hide-lg-down">
        <div class="metrics ">
          <ion-label>APY <ion-img [tooltip]="toolTipTpl" src="assets/images/info-icon.svg"/>
  
          <ng-template #toolTipTpl>
            APY is based on 5 epochs average
          </ng-template> 
        
        </ion-label>
          @if (metrics() === null) {
          <ion-skeleton-text [animated]="true" />
          }@else {

          <ion-text>{{metrics().apy | percent: "1.1-2"}}</ion-text>
          }
        </div>
        <div class="metrics">
          <ion-label>TVL</ion-label>
          @if (metrics() === null) {
          <ion-skeleton-text [animated]="true" />
          }@else {

          <ion-text>{{metrics().tvl | number: '1.0-0'}} SOL</ion-text>
          }
        </div>
        <div class="metrics">
          <ion-label># Of Stakers</ion-label>
          @if (metrics() === null) {
          <ion-skeleton-text [animated]="true" />
          }@else {

          <ion-text>{{metrics().holders | number: "1.0"}}</ion-text>
          }
        </div>
      </div>
      <div class="hubSOL-metrics ion-hide-lg-up">
        <div class="metrics ">
          <div>
            <ion-label>APY</ion-label>
            <ion-text>{{0.08 | percent}}</ion-text>
          </div>
          <div>
            <ion-label>TVL</ion-label>
            <ion-text>50k SOL / $10m</ion-text>
          </div>
          <div>
            <ion-label># of stakers</ion-label>
            <ion-text>10,000</ion-text>
          </div>
        </div>
      </div>
      <div>
        <ion-button routerDirection="root" routerLink="/staking">Stake Now</ion-button>
      </div>
    </ion-col>

  </ion-row>

  <ion-row id="hubSOL-benefits">
    <ion-col sizeLg="6" size="12" id="left-box">
      <div id="highlight-lst">
        <ion-img src="assets/images/hubSOL.svg" /> <span>1 hubSOL = 1 SOL + staking rewards</span>
      </div>
      <ion-label id="benefits-title">
        Like $SOL, but Better
      </ion-label>
      <ion-text>
        hubSOL is a liquid stake token that you get as a representative asset for your SOL inside our stake pool.
      </ion-text>
      <ion-text style="margin-block-end: 26px;">
        When you stake SOL using liquid staking you enjoy of stake rewards
        accumulated in the pool over time + exclusive benefits to hubSOL.
      </ion-text>

      <div id="benefit-list">
        <div class="benefit">
          <ion-img src="assets/images/check-heart.svg" /> <span>Loyalty league airdrops delivered directly to your
            wallet</span>
        </div>
        <!-- <div class="benefit">
          <ion-img src="assets/images/check-heart.svg" /> <span>Waved platform fees to holders</span>
        </div> -->
        <div class="benefit">
          <ion-img src="assets/images/check-heart.svg" /> <span>Highly liquid token</span>
        </div>
      </div>
    </ion-col>
    <ion-col sizeLg="6" size="12" id="right-box">
      <div #animationEl></div>
    </ion-col>
  </ion-row>
  <ion-row id="hubSOL-chart" class="ion-padding">
    <div id="chart-title">LST APY performance</div>
    <ion-text>The chart shows the 10 avg APY of leading liquid staking tokens</ion-text>

    <div style="margin: 0 auto;width: 100%;height: 407px;">
      <canvas #chartEl></canvas>
    </div>
  </ion-row>
  <div id="hubSOL-trust">
    <div>
      <div id="sanctum-power">Powered By <ion-img src="assets/images/sanctum-full-black.svg" /></div>
    </div>
    <p>A safe staking solution</p>
    <ion-row class="ion-justify-content-between">
      <ion-col size="12" sizeLg="3">
        <!-- <ion-img src="assets/icon/f-icon-1.svg" /> -->
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <ion-label>Secure</ion-label>
        <ion-text>Powered by a Solana Labs smart contract and rigorously audited over seven times for your peace of mind.
          We are fully open sourced and never have access to your funds.
        </ion-text>
      </ion-col>
      <ion-col class="ion-margin-bottom" size="12" sizeLg="3">
        <ion-icon name="water-outline"></ion-icon>
        <!-- <ion-img src="assets/icon/f-icon-2.svg" /> -->
        <ion-label>Liquid</ion-label>
        <ion-text> Sanctum enables deep liquidity for anyone to swap in and out of hubSOL, at anytime.</ion-text>
      </ion-col>
      <ion-col size="12" sizeLg="3">
        <ion-icon name="library-outline"></ion-icon>
        <!-- <ion-img src="assets/icon/f-icon-3.svg" /> -->
        <ion-label>Reliable</ion-label>
        <ion-text>
          Guided by three core values:

          Decentralization,
          Top-tier infrastructure for maximum uptime,
          and transparency in our commission and commitments. </ion-text>
      </ion-col>
    </ion-row>
  </div>
  <div id="hubSOL-adoption">
    <div>
      <ion-label>hubSOL adoption</ion-label>
      <ion-text>hubSOL DeFi TVL across top protocols</ion-text>
    </div>
    <div id="adoption-TVL">
      @if (adoptionTVL | async) {
        {{(adoptionTVL | async)?.total | currency: 'USD':'symbol':'1.0-0'}}
      }@else {
        <ion-skeleton-text [animated]="true" />
      }
    </div>

  </div>
  <div id="hubSOL-support">
    <ion-row class="ion-justify-content-between">
      <ion-col size="12" sizeLg="9">
        <ion-label>Supported platforms</ion-label>
        <ion-text>hubSOL is widely supported across leading platforms in the Solana ecosystem.</ion-text>
      </ion-col>
      <ion-col class="ion-hide-lg-down" size="12" sizeLg="2">
        <ion-button routerDirection="root" routerLink="/staking">Join up</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      @for (item of supportedPlatforms; track $index) {

      <ion-col class="platform" size="6" sizeLg="3">
        <div class="wrapper">
          <div><span class="chip" [ngClass]="item.type">{{item.type}}</span></div>
          <ion-img [src]="item.img" />
        </div>
      </ion-col>
      }
    </ion-row>
  </div>
</ion-content>