
<ion-content [fullscreen]="true">

  <ion-row id="promo">
    <ion-col id="promo-text">
      <div id="title">Explore hubSOL</div>
      <div id="slogen">
        Powerful liquid stake solution
      </div>
      <div id="intro">Unlock the power of your SOL with self-custodial liquid stake token hubSOL and enjoy secure,
         and boosted stake experience. </div>
      
    <div id="hubSOL-metrics">
      <div class="metrics">
        <ion-label>APY</ion-label>
        <ion-text>{{0.08 | percent}}</ion-text>
      </div>
      <div class="metrics">
        <ion-label>TVL</ion-label>
        <ion-text>50k SOL / $10m</ion-text>
      </div>
      <div class="metrics">
        <ion-label># of stakers</ion-label>
        <ion-text>10,000</ion-text>
      </div>
    </div>
    <div>
      <ion-button>Stake Now</ion-button>
    </div>
    </ion-col>
    
  </ion-row>
  
  <div id="hubSOL-benefits">
<div id="left-box"></div>
<div id="right-box" #lottie>

</div>
    </div>
    
    </ion-content>