#promo {
    background-color: var(--ion-color-page-top);
    background-image: url(/assets/images/bg-header-decorative.svg);
    justify-content: space-between;
    padding: 66px 3vw;
    #promo-text{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }


    #title {
        color: var(--brand-500, #CB62AF);
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-block-end: 12px;
    }

    #slogen {
        color: var(--ion-color-hard-hard);
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        /* 100% */
        letter-spacing: -0.96px;
        margin-block-end: 12px;

        span {
            color: var(--ion-color-primary);
            opacity: 0.8;
            font-size: 48px;

            font-weight: 600;
            line-height: 48px;
            letter-spacing: -0.96px;
        }
    }

    #intro {
        color: var(--ion-color-dark);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        max-width: 600px;
        margin-block-end: 24px;

        /* 150% */
        span {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    #hubSOL-metrics {
        flex-wrap: wrap;
        display: flex;
        max-width: 800px;
        justify-content: space-between;
        align-items: center;
    }
    .metrics {
        width: 247px;
        padding: 20px;
        gap: var(--spacing-2xl, 20px);
        margin-block-end: 40px;
        border-radius: var(--radius-xl, 12px);
        border: 1px solid #DBDBD8;
        background: #E3E3D9;
        ion-label {
            color: var(--colors-text-text-tertiary-600, #4B5565);
            display: block;
            font-size: 13px;
            font-weight: 500;
            line-height: 18px;
        }

        ion-text {
            color: var(--colors-text-text-primary-900, #121926);
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
        }
    }
    ion-button{
        text-transform: capitalize;
    --padding-bottom: 16px;
    --padding-top: 16px;
    }
}