ion-button {
  height: 52.7px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-transform: capitalize;
}

#wallet {
  height: 52.7px;
  color: var(--ion-color-hard-hard);
  cursor: pointer;
  display: flex;
  padding: var(--spacing-lg, 10px);
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-none, 0px);
  align-self: stretch;
  border-radius: var(--radius-md, 8px);
  border: 1px solid var(--gray-modern-200, #E3E8EF);
  position: relative;
  transition: 0.3s ease;

  #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
  }

  &:hover {
    background-color: var(--ion-color-page-top);
  }

  ion-icon {
    position: absolute;
    right: 16px;
  }

  ion-label {
    color: var(--ion-color-hard-hard);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 14px */
  }

  #wallet-address {
    color: var(--ion-color-medium);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-block-end: 4px;
    /* 12px */
  }

  #loyalty-league {
    display: flex;
    padding: 4px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--component-colors-utility-pink-utility-pink-200, #FCCEEE);
    background: var(--component-colors-utility-pink-utility-pink-50, #FDF2FA);
    color: var(--component-colors-utility-pink-utility-pink-700, #C11574);
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 100%;
    min-width: 105px;

    /* 10px */
    ion-skeleton-text {
      width: 25%;
      margin-inline-end: 3px;
      margin-block: 0;
    }
  }

  #wallet-profile {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: var(--radius-full, 9999px);
    overflow: hidden;
    margin-inline-end: 8px;

    ion-skeleton-text {
      position: absolute;
      top: 0;
      z-index: 2;
      padding: 0;
      margin: 0;
    }
  }
}

ion-chip{
  position: absolute;
  top: -16px;
  right: 0;
  font-size: 10px;
  text-transform: capitalize;
  margin: 0;
  scale: 0.8;
  z-index: 10;
  opacity: 1;
  color: white;
  background: var(--ion-color-primary);

}