
@if((isReady$ | async) === false){
  <ion-button (click)="showWalletAdapters()" expand="block">
    connect wallet
 </ion-button>
}@else {
<div id="wallet" (click)="showConnectWalletActions($event)">
  <div id="overlay"></div>
  <div id="wallet-profile" style="position: relative;">
    <ion-img 
    loading="lazy"
    [src]="profilePic"
    [ngStyle]="{'viability': showSkeleton ? 'hidden' :'visible'}" 
    (ionImgDidLoad)="showSkeleton = false" 
    (ionError)="showSkeleton = false"
    />

    @if (showSkeleton) {
    <ion-skeleton-text animated />
    }

  </div>
  <div>
    @if((llScore$ | async)?.hubDomainHolder; as hubDomainHolder){
      <ion-label id="wallet-domain">{{hubDomainHolder}}</ion-label>
    }
    <div id="wallet-address"> {{ (walletPublicKey$ | async) }}</div>
    <div id="loyalty-league" routerLink="/loyalty-league">

      @if(loyaltyLeagueMemberScore() != null){
        {{loyaltyLeagueMemberScore() | number: '1.0-0'}} 
      }@else{
        <ion-skeleton-text animated /> 
      } Loyalty Points
    </div>
  </div>
  <ion-icon name="chevron-down-outline"></ion-icon>
  <div>

  </div>
</div>
}