
header {
    background-color: #E9E9E6;
    align-items: center;
    justify-content: space-between;
    padding: 40px 2.5%;
    min-height: 295px;
    background-image: url('/assets/images/bg-header-decorative.svg');
    #title {
        color: var(--ion-color-hard-hard);
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        text-transform: capitalize;
        letter-spacing: -0.96px;
        margin-block-end: 24px;
        width: 100%;
    }

    #intro {
        max-width: 900px;
        color: var(--colors-gray-modern-700, var(--ion-color-dark));
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }
}