
@if(!member?.message){
<ion-label id='click-trigger'>
  got code? <br />
</ion-label>

<ion-popover #popover showBackdrop="false" trigger="click-trigger" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-text>
        Got community code?
      </ion-text>
      <div class="input-container">
        <ion-input #input placeholder="Enter it here" />

      </div>
        
      @if (loading()) {
        <div class="spinner-container">
          
          <ion-spinner color="primary" name="crescent" />
        </div>
      }@else {
      <ion-button expand="block" [disabled]="!input.value" (click)="insertCode(input.value)">
        Verify
      </ion-button>
      }
     @if (errorMessage()) {
      <ion-text id="error-message">{{errorMessage()}}</ion-text>
     }
    </ion-content>
  </ng-template>
</ion-popover>
}@else{

  <ng-template #toolTipTpl>cant use community code before you are a loyalty league member</ng-template>
  <ion-label [tooltip]="toolTipTpl" [position]="tooltipDirection" id="not-available">
    got code? <br />
  </ion-label>
}