<div id="stake-positions" class="ion-padding">
  <div id="title">active positions</div>
  <div id="sub">Effortlessly handle all your staking, from native to liquid, with diverse, user-friendly features</div>
  <div id="stake-group">
    @for (btn of stakePosButton; track $index) {
      <ion-button mode="md" 
      [disabled]="loading"
      [fill]="positionGroup() !== btn.label ? 'clear' :'solid'" 
      (click)="setPositionGroup(btn.label)">
        <span class="ion-hide-xl-down">{{btn.label}} staking</span>
        <span class="ion-hide-xl-up"><ion-img [src]="btn.imgUrl" /></span>
      </ion-button>
    }
  </div>
  <div id="positions-container">
@if(loading === false){
    @for (stake of stakePosition(); track $index) {
      <stake-position [stake]="stake" [account]="stakeAccounts()[$index]" [stakeAccounts]="stakeAccounts()" />
    }@empty {
      @if(stakePosition() === null){
        <stake-position [stake]="" />
        <stake-position [stake]="" />
        <stake-position [stake]="" />
      }@else {

        No positions found
      }
    }
  }@else {
    
    <stake-position [stake]="" />
    <stake-position [stake]="" />
    <stake-position [stake]="" />
  }
  </div>
  <!-- {{stakePosition() | json}} -->
</div>