<div id="chart-breakdown">
  @if (assetClassValue().length) {
  <ion-row style="width: 100%" class="ion-justify-content-between ion-align-items-center">
    
    <ion-col sizeXl="4" size="12">
        <div id="chart-wrapper" style="height: 150px; width: 150px;">
          <canvas style="cursor: pointer;" #breakdownChart (click)="onChartClick($event)"></canvas>
        </div>
    </ion-col>
    <ion-col sizeXl="8"  size="12" id="legend">
      <div id="title" class="ion-margin-bottom">
        Assets breakdown
        
        <ion-icon [name]="showBalance.value ? 'eye-outline' : 'eye-off-outline'" (click)="toggleHideBalance()"/>
      </div>
      @for (item of assetClassValue(); track $index) {
      <div class="asset-group" (click)="toggleAssetExclusion(item.group)" [class.excluded]="item.excluded">
        <div class="asset-type">
          <div class="group-color">
            <span [ngStyle]="{'background': item.color}"></span>
          </div>
          <div class="group-name">
            {{item.group}}
          </div>
        </div>
        <div class="asset-share">
          {{ utilService.percentPipe.transform(item.value / portfolioTotalValue(), '1.2')}}
        </div>
        <div class="asset-usd-value"  [ngClass]="{'private-balance': showBalance | async }">
          {{utilService.currencyPipe.transform(item.value)}}
        </div>
      </div>
      }
    </ion-col>
  </ion-row>
}@else{
  <ion-spinner style="margin: 0 auto;" color="primary" name="crescent"></ion-spinner>
}
</div>