
<ngx-turnstile #turnStile [siteKey]="turnStileKey" (errored)="log($event)" (resolved)="sendCaptchaResponse($event)" theme="auto"
  [tabIndex]="0" />
  {{isReady$}}
<ion-header mode="md" [translucent]="true">
  <app-menu />

</ion-header>

<float-jup/>

<ion-app>

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div id="menu-container">
          <div id="menu-upper">
            <ion-list id="inbox-list">
              <div id="logo">
                <ion-img [src]="SolanaHubLogo"></ion-img>
                <span>SolanaHub</span>
              </div>
              <div id="menu-top">
                <app-wallet-connect />
                <settings-button />
              </div>
              <ion-menu-toggle auto-hide="false" *ngFor="let g of appPages; let i = index">
                <ion-list-header *ngIf="g.group">{{g.group}}</ion-list-header>
                @for (p of g.pages; track $index) {

                <ion-item
                #rla="routerLinkActive"
                 [disabled]="!p.active || (watchMode$ | async) && p.title != 'Overview'"
                  style="opacity: 1;"
                  routerDirection="root"
                   [routerLink]="[p.url]" 
                   lines="none" 
                   detail="false" 
                   routerLinkActive="selected"
                   >
                  @if(p.title === 'hubSOL'){
                  <ion-img src="/assets/images/hubSOL.svg" />
                  }@else {
                  <animated-icon 
                  
                  aria-hidden="true" slot="start" [icon]="p.icon" />
                  }

                  <!-- <ion-icon aria-hidden="true" slot="start" [name]="p.icon" ></ion-icon> -->
                  <ion-label>{{ p.title }}</ion-label>
                  @if((watchMode$ | async)){
                  @if (p.title != 'Overview') {
                  <ion-chip color="secondary">
                    Disabled
                  </ion-chip>
                  }
                  }@else{

                  @if (!p.active) {
                  <ion-chip color="secondary">
                    Soon
                  </ion-chip>
                  }
                  @if(p.title == 'Notifications' && notifIndicator()){
                  <ion-chip color="secondary">
                    {{notifIndicator()}}
                  </ion-chip>
                  }
                  }
                </ion-item>
                }

              </ion-menu-toggle>
            </ion-list>
            <loyalty-league-member />
          </div>
          <div id="social">
            <div id="title">Join the Hub</div>
            <div id="social-icons">
              <a href="https://github.com/block-sync-one/SolanaHub" target="_blank">
                <ion-icon name="logo-github"></ion-icon>
              </a>
              <a href="https://x.com/SolanaHubApp" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" color="currentColor" class="text-color"><path d="M3 21L10.5484 13.4516M21 3L13.4516 10.5484M13.4516 10.5484L8 3H3L10.5484 13.4516M13.4516 10.5484L21 21H16L10.5484 13.4516" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path></svg>
                <!-- <ion-icon name="logo-twitter"></ion-icon> -->
              </a>
              <a href="https://discord.gg/w9gRgd3vsc" target="_blank">
                <ion-icon name="logo-discord"></ion-icon>
              
              </a>

            </div>
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <ion-content class="ion-page" id="main-content" [class.ad-offset]="false">
      <!-- <freemium-ad/> -->

      <ion-router-outlet></ion-router-outlet>

    </ion-content>

  </ion-split-pane>
</ion-app>


