<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div id="logo">

            <ion-img [src]="SolanaHubLogo"></ion-img>
            <span>SolanaHub</span>
          </div>
          <app-wallet/>
          <ion-menu-toggle auto-hide="false" *ngFor="let g of appPages; let i = index">
            <ion-list-header *ngIf="g.group">{{g.group}}</ion-list-header>

            <ion-item  *ngFor="let p of g.pages; let i = index" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">

              <ion-icon aria-hidden="true" slot="start" [name]="p.icon" ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<!-- <div *ngFor="let wallet of wallets$ | async; let i = index">
  <input
    [id]="'select-wallet-' + i"
    [value]="wallet.adapter.name"
    type="radio"
    name="walletName"
  />
  <label [for]="'select-wallet-' + i">
    {{ wallet.adapter.name }}
  </label>
</div> -->