ion-menu {
  border: 0;
  width: 14vw;

  ion-content {
    --background: var(--ion-color-menu);
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }

  app-wallet-connect {
    display: block;
    position: relative;
    width: 100%;
  }

  ion-list {
    background: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #menu-top {
    display: flex;
    margin-block-end: 12px;

  }

  ion-list-header {
    color: var(--ion-color-medium);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  ion-menu-toggle {
    // &:not(:last-child){
    padding-block-end: 16px;
    // }
    display: block;

    animated-icon {
      width: 22px;
      height: 22px;
      margin-right: 13px;
    }

  }

  animated-icon {
    width: 22px;
    height: 22px;
    margin-right: 13px;
  }


}
ion-item {
  cursor: pointer;
  --background: transparent;
  color: var(--ion-color-dark);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
ion-img{
  width: 22px;
  height: 22px;
  margin-right: 13px;
}
  ion-chip {
    scale: 0.75;
    --border-radius: 0;
    margin: 0;
  }

  &.selected {
    border-radius: var(--radius-sm, 6px);
    --background: var(--ion-color-btn-bg);;
    color: var(--ion-color-primary);

    ion-icon {
      color: var(--ion-color-primary);

    }
  }
}
#not-connected {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

#logo {
  display: flex;
  align-items: center;
  padding-inline-start: 16px;
  margin-block-end: 24px;

  ion-img {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 35%;
    margin-inline-end: 12px;
  }

  span {
    color: var(--ion-color-hard-hard);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
  }
}

#social {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--ion-color-dark);
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  right: 0;
  margin: 0 auto;
  a{
    cursor: pointer;
  }
  img {
    width: 20px;
    margin-inline: 4px;
}
}
@media only screen and (max-width: 992px) {
  ion-menu {
    width: auto;
  }

  #main-content {
    top: 72px;
  }
}