ion-menu {
  border: 0;
  width: 14vw;
  ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }

  // ion-list {
  //   padding-inline: 8px;
  // }

  ion-list-header {
    color: var(--gray-modern-500, #697586);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  ion-menu-toggle {
    padding-bottom: 24px;
    display: block;

    ion-icon {
      width: 20px;
      height: 20px;
      margin-right: 13px;
    }

  }

  ion-item {
    cursor: pointer;
    color: var(--gray-modern-700, #364152);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    &.selected {
      border-radius: var(--radius-sm, 6px);
      --background: #FFF3FB;
      color: var(--ion-color-primary);
      ion-icon {
        color: var(--ion-color-primary);
    
      }
    }
  }
}



#logo {
  display: flex;
  align-items: center;
  padding-inline-start: 16px;

  ion-img {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    margin-inline-end: 12px;
  }

  span {
    color: var(--gray-modern-950, #0D121C);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
  }
}

@media only screen and (max-width: 1000px) {
  ion-menu{
    width: auto;
  }
  
}
