<ion-header mode="md" [translucent]="true">

  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>


</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <header>
      <ion-row>
        <div id="title">staking</div>
        <div id="intro">
          Stake your SOL today and start earning staking rewards – transform your digital currency into a continuous
          source of passive income
        </div>

      </ion-row>
      <ion-row id="stat-wrapper" class="ion-justify-content-between">
        @for (stat of validatorsData; track $index) {
        <div class="staking-stat">
          <div class="icon-wrapper">
            <ion-img [src]="stat.imgURL" />
          </div>
          <div class="stat-title">{{stat.title}}</div>
          <div class="stat-desc">

            @if(stat.extraData){
              {{stat.extraData.epochInfo?.timepassInPercentgae}}
              <ion-progress-bar [buffer]="stat.extraData?.timepassInPercentgae"></ion-progress-bar>
              <span style="font-size: 13px;">{{stat.extraData?.ETA}}</span>
            }@else {
              {{stat.desc}}
            }
            @if (stat.desc === '') {
            <ion-skeleton-text [animated]="true" />
            }
          </div>

        </div>
        }

      </ion-row>
    </header>

    <div style=" padding-inline: 5vw;">

      <ion-row id="stake-box">
        <ion-col size="12" sizeMd="8">
          <stake-form [validatorsList]="validatorsList" />
        </ion-col>
        <ion-col size="4" sizeMd="4">

        </ion-col>
      </ion-row>

    </div>
  </ion-grid>
</ion-content>