#stat-wrapper {
    transform: translateY(-70px);
    height: 190px;

    .staking-stat {
        padding: 24px;
        border-radius: var(--radius-xl, 12px);
        background: var(--ion-color-light);;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

        .icon-wrapper {
            width: 48px;
            height: 48px;
            background-color: var(--ion-color-light);
            border-radius: var(--radius-lg, 10px);
            border: 1px solid var(--Component-colors-Components-Icons-Featured-icons-Modern-featured-icon-modern-border, var(--ion-color-border));
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-block-end: 20px;
        }

        .stat-title {
            color: var(--ion-color-dark);
            font-size: 13px;
            font-weight: 500;
            line-height: 18px;
            margin-block-end: 4px;
        }

        .stat-desc {
            color: var(--ion-color-dark);
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            /* 150% */
        }

        ion-img {
            width: 24px;
            height: 24px;
        }
    }
}


#stake-box {
    margin-block-end: 40px;
    border-radius: 12px;
    // border: 1px solid var(--ion-color-border);
}


ion-skeleton-text {
    width: 50%;
    height: 20px;
    border-radius: 4px;
}


@media only screen and (max-width: 992px) {
    .stat-desc{
        line-height: normal !important;
    }
    .staking-stat {
        padding: 24px;
        margin: 5px;
    }
}