:host {
    display: block;
    width: 100%;
    margin-block-end: 20px;
}

#price-chart{
    border-radius: 16px;
    border: 1px solid  var(--ion-color-border);
    background: var(--ion-background-color);
}