
<ion-content [fullscreen]="true">
  <page-header
  title="Swap"
  description="Swap your assets for the best prices in a lightning fast and zero fee environment. <br/> Powered By Juptier"
  ></page-header>
  <ion-grid>


    
    <ion-row style="padding-inline: 2vw;transform: translateY(-70px);" class="ion-justify-content-center">
      <swap-form/>
    </ion-row>

  

      <!-- <ion-row style="padding-inline: 5vw;">
        <ion-col size="12" class="data-set">
          
          <app-transactions-history-table
          [tableData]="tradeHistoryTable"
          />
          
          
        </ion-col>
      </ion-row>
     -->
  </ion-grid>

</ion-content>
