@import './table.scss';
:host{
    width: 100%;
}

#search-box-wrapper{
    display: flex;
    justify-content: flex-end;
}

ion-img{
    margin-inline:6px ;
}

.no-results {
    text-align: center;
    height: 100px;
  }

.wallet-details-wrapper {
  background-color: var(--ion-background-color);
  // padding-block: 9px;

}
.wallet-details-breakdown{
  border-left: 6px solid var(--ion-color-primary);
}
.wallet-details-header, 
#able-controls{
  ion-icon{
    color: var(--ion-color-dark);
    font-size: 22px;
  }
}
.wallet-details-breakdown {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--ion-color-border);
  padding-inline: 1.5rem;
  // line-height: .5;
  .wallet-address {
    padding-inline-start: 3vw;
  }
  tr:hover {
    background: none !important;
} 
  & > * {
    // width: 150px;
  }
}



