<div class="table-info">
  <div>

    <div class="table-title">
      {{label}}
    </div>
    <div class="table-sub">
      {{desc}}
    </div>
  </div>
  @if(searchBoxEnable){
  <app-search-box (search)="searchItem($event)" [value]="searchTerm()" [placeholder]="'Search'" />
  }
</div>



@if(tableMenuOptions.length){
<app-table-menu [menu]="tableMenuOptions" [currentTab]="tableMenuOptions[0]"
  (onSelectTab)="tabSelected($event)"></app-table-menu>
}

<div id="table-wrapper">
  <ngx-table #table [id]="tableId" (event)="onRowClicked.emit($event)" [configuration]="configuration"
    [data]="tableData()" [columns]="tableColumns()" [loadingTemplate]="loadingTemplate">
  </ngx-table>
  @if (configuration.paginationEnabled) {
  <div id="table-controls">
    <ion-button mode="md" fill="clear" (click)="previousPage()">
      <ion-img src="/assets/icon/arrow-right.svg" style="transform: rotate(180deg);" />
      previous
    </ion-button>
    <ion-button mode="md" fill="clear" (click)="nextPage()">
      next
      <ion-img src="/assets/icon/arrow-right.svg" />

    </ion-button>
  </div>
  }
</div>




<ng-template #loadingTemplate>
  <div>
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </div>
</ng-template>