@import './table.scss';
:host{
    width: 100%;
}
.table-info{
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--gray-modern-100, #EEF2F6);
}
#search-box-wrapper{
    display: flex;
    justify-content: flex-end;
}


ion-img{
    margin-inline:6px ;
}

