<div class="table-info">
  <div>

    <div class="table-title">
      {{label}}
    </div>
    <div class="table-sub">
      {{desc}}
    </div>
  </div>
</div>



<ion-row class="ion-align-items-center ion-justify-content-around">

  @if(tableMenuOptions.length){
  <ion-col size="8">
    <app-table-menu [menu]="tableMenuOptions" [currentTab]="tableMenuOptions[0]" (onSelectTab)="tabSelected($event)">
    </app-table-menu>
  </ion-col>
  }
  @if(searchBoxEnable){
    <ion-col size="4" sizeLg="auto">
      <app-search-box (search)="searchItem($event)" [value]="searchTerm()" [placeholder]="'Search'" />
    </ion-col>
  }

</ion-row>




@if(mftOnlyHeader === false){


<div id="table-wrapper">
  <ngx-table #table [id]="tableId" (event)="onRowClicked.emit($event)" [configuration]="configuration"
    [data]="tableData()" [columns]="tableColumns()" [loadingTemplate]="loadingTemplate">
  </ngx-table>
  @if (configuration.paginationEnabled) {
  <div id="table-controls">
    <ion-button mode="md" fill="clear" (click)="previousPage()">
      <ion-img src="/assets/icon/arrow-right.svg" style="transform: rotate(180deg);" />
      <span class="ion-hide-md-down">
        previous
      </span>
    </ion-button>
    <ion-button mode="md" fill="clear" (click)="nextPage()">
      <span class="ion-hide-md-down">
        next
      </span>
      <ion-img src="/assets/icon/arrow-right.svg" />

    </ion-button>
  </div>
  }
</div>

}


<ng-template #loadingTemplate>
  <div>
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </div>
</ng-template>