@import './table.scss';
:host{
    width: 100%;
}
#search-box-wrapper{
    display: flex;
    justify-content: flex-end;
}
ion-searchbar{
    width: 300px;
    max-width: 100%;
  
}

ion-img{
    margin-inline:6px ;
}