:host {
    display: flex;
    justify-content: center;
}

#season-stats {
    width: 456px;
    max-width: 100%;
    flex-shrink: 0;
    border-radius: 12px;
    background: linear-gradient(200deg, #FF50C8 5.53%, #7100FF 88.66%, #8E00FF 88.66%), radial-gradient(100.27% 100.27% at 50% -0.27%, #000355 0%, #09001D 100%);
}

#season-stats-title {
    color: var(--ion-color-light);
    font-size: 32px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    ion-img {
        margin-inline-start: 9px;
        width: 35px;
    }

}
#season-stats-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.season-stats-card {
    display: flex;
    width: 100%;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: var(--radius-xl, 12px);
    border: 1px solid rgba(255, 255, 255, 0.28);

    .season-stats-card-title {
        color: var(--ion-color-light);
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        margin-block-end: 2px;
    }
    .season-stats-card-body {
        color: var(--ion-color-light);
        font-size: 20px;
        font-style: italic;
        font-weight: 600;
        line-height: 24px; 
    }
}
ion-skeleton-text {
    --border-radius: 4px;
    width: 140px;
    z-index: 2222;
    height: 24px;
    --background-rgb: 1, 110, 1;
}
@media (max-width: 450px) {
    #season-stats-content {
        grid-template-columns: 1fr;
    }
}