<div id="season-stats">
  <div id="season-stats-header">
    <div id="season-stats-title">Season <ion-img src="assets/images/ll/1.svg" /></div>
  </div>
  <div class="ion-padding" id="season-stats-content">
    <div class="season-stats-card">
      <div class="season-stats-card-title">Total Participants Points</div>
      <div class="season-stats-card-body"><number-counter [startNumber]="223452342" [targetNumber]="50000000000" [duration]="10000000000" /></div>
    </div>
    <div class="season-stats-card">
      <div class="season-stats-card-title">Total Participants</div>
      <div class="season-stats-card-body">1,630</div>
    </div>
    <div class="season-stats-card">
      <div class="season-stats-card-title">Prize Pool</div>
      <div class="season-stats-card-body">
        <ion-img src="assets/images/ll/demo-pp.svg" />
      </div>
    </div>
  </div>
</div>