<ion-header mode="md" [translucent]="true">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row id="promo">
      <ion-col id="promo-text">
        <div id="title">Loyalty League</div>
        <div id="slogen">
          Stake with SolanaHub and gain <span>extra</span> rewards
        </div>
        <div id="intro">Earn points for staking, voting, and other exciting opportunities.<br />
          Boost your score to unlock weekly SOL rewards.</div>
        @if(loyaltyLeagueMember$ | async){
        <app-member-stats [loyalMember]="loyalMember" />
        }@else {
        <ion-button
        routerDirection="root" 
        routerLink="/staking" 
        id="stake-redirect">Start Stake with SolanaHub</ion-button>
        }
      </ion-col>
      <ion-col class="ion-hide-sm-down" id="promo-media">
        <ion-img src="assets/images/ll-top-img.svg"></ion-img>
      </ion-col>
    </ion-row>
    <div id="loyalty-league-info">
      <ion-row class="ion-justify-content-between ion-align-items-stretch ion-margin-bottom">
        <ion-col sizeXl="5.9" size="12">

          <app-pool-stats [prizePool$]="prizePool$" [totalPts]="totalPts" />

        </ion-col>
        <!-- <div style="display: block; width: 100%;" class="ion-margin-bottom ion-hide-md-up"></div> -->
        <ion-col id="points-multiplier" sizeXl="5.9" size="12" class="gap data-set">
          <app-points-stats />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="data-set">
          <app-mft 
          [tableId]="'loyalty-league'"
          [label]="'Leader Board'" 
          desc="Obtain a comprehensive overview for your loyalty points from each source" 
          [tableRows]="10" [tableColumns]="columns" 
          [tableData]="leaderBoard" />

          <ng-template #addressTpl let-row let-rowIndex="rowIndex" let-column="column">
            <div class="addr-item">
              <span>
                {{row.walletOwner.addrShort}}
              </span>
              <ion-icon style="cursor: pointer;" appCopyText [copyText]="row.walletOwner.addr" name="copy-outline"></ion-icon>
              <!-- @if(row.liquidStake.msol) -->
            </div>

          </ng-template>
          <ng-template #LSTpl let-row let-rowIndex="rowIndex" let-column="column">
            <div class="token-pts">
              <div>
                <ion-img src="assets/images/msol-small.webp" />
                <span>
                  {{row.liquidStake.mSOL}}
                </span>
              </div>
              +
              <div class="token-pts">
                <ion-img src="assets/images/bsol-small.webp" />
                <span>
                  {{row.liquidStake.bSOL}}
                </span>
              </div>
            </div>
          </ng-template>
          <ng-template #daoTpl let-row let-rowIndex="rowIndex" let-column="column">
            <div class="token-pts">
              <div>
                <ion-img src="assets/images/mnde-small.webp" />
                <span>
                  {{row.dao.veMNDE}}
                </span>
              </div>
              +
              <div>
                <ion-img src="assets/images/blze-small.webp" />
                <span>
                  {{row.dao.veBLZE}}
                </span>
              </div>
            </div>
          </ng-template>
          <ng-template #hubDomainHolderTpl let-row let-rowIndex="rowIndex" let-column="column">
            @if(row.hubDomainHolder){
           
            <ion-icon style="font-size:20px;color:#079455;" name="checkmark-circle-outline"></ion-icon>
            } @else{
         
            <ion-icon style="font-size:20px;" name="close-circle-outline"></ion-icon>
            }


          </ng-template>

          <ng-template #airdropTpl let-row let-rowIndex="rowIndex" let-column="column">
            <div class="airdrop">
              {{row.weeklyAirdrop}}
              <ion-img src="assets/images/sol.svg" />
              <!-- @if(row.liquidStake.msol) -->
            </div>

          </ng-template>

        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>