#modal-intro {
    display: flex;
    justify-content: space-between;
    margin-block-end: 20px;
  
    .icon-wrapper {
      width: 48px;
      height: 48px;
      border-radius: var(--radius-lg, 10px);
      border: 1px solid var(--Component-colors-Components-Icons-Featured-icons-Modern-featured-icon-modern-border, #E3E8EF);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block-end: 12px;
  
    }
  
    ion-img {
      width: 24px;
      height: 24px;
    }
  
    #title {
      text-transform: capitalize;
      color: var(--ion-color-dark);
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
    }
  
    #desc {
      text-transform: capitalize;
      color: var(--ion-light-gray);
      font-size: 13px;
      line-height: 18px;
      /* 138.462% */
    }
  
    #close-modal {
      cursor: pointer;
    }
  }

  .plans-wrapper {
    display: flex;
    justify-content: space-between;
}
  .service-title {
    font-weight: 600;
    color: var(--ion-color-dark);
    margin-block-end: 8px;
}
.service-desc {
  margin-block-end: 16px;
  color: var(--ion-color-dark);
  border-bottom: 1px solid var(--ion-color-primary);
  padding-block-end: 4px;
}
