<div class="freemum-access-popup ion-padding">

    <div id="modal-intro">
        <div>


            <div class="icon-wrapper">
                <ion-img src="assets/images/freemium-up-icon.svg" />
            </div>

            <div id="title">Unlock Premium Features</div>
            <div id="desc">Upgrade to a premium account to access all features and enjoy a seamless experience.</div>
        </div>

        <ion-img (click)="closeModal()" id="close-modal" src="assets/images/close-icon.svg" />
    </div>
</div>