:host{
    background: var(--ion-color-light);
    padding: 12px;
}
ion-label{
    color: var(--ion-color-dark-hard);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 4px;
    display: block;
}
ion-text{
    color:var(--ion-color-dark);
    font-size: 12px;
    line-height: 18px;
    display: block;
    margin-bottom: 12px;
}
ion-segment-button {
    --border-radius: 4px;
    --background: var(--ion-color-light);
    --indicator-color: var(--ion-color-primary);
    --color-checked: var(--ion-color-light);
    width: 45px;
    min-width: 45px;
}