<div class="stake-card">
  <div class="stake-info">
    <div class="validator-profile">
      @if(stakeAccount){
      <ion-img [src]="stakeAccount?.validator?.image || 'assets/images/unknown.svg'" />
      }@else{
      <ion-skeleton-text animated />
      }
      <span [tooltip]="toolTipTpl" class="account-status" [class]="stakeAccount?.state"></span>



    </div>

    <span>
      <div class="validator-info">
        <div class="validator-name">
          @if(stakeAccount){
          {{stakeAccount?.validator?.name}}
          }@else{
          <ion-skeleton-text style="width: 150px;" animated />
          }


        </div>
        <div class="account-address">
          @if(stakeAccount){
          {{stakeAccount?.shortAddr}}
          <ion-icon appCopyText [copyText]="stakeAccount?.addr" name="copy-outline" />
          }@else{
          <ion-skeleton-text animated />
          }
        </div>
      </div>
      <div class="account-value">

        @if(stakeAccount){

        <div class="sol-amount">{{stakeAccount?.balance| number}} SOL</div>
        <div class="usd-value">({{stakeAccount?.balance * solPrice() | currency}})</div>
        }@else{
        <ion-skeleton-text animated />
        }

      </div>
    </span>
  </div>
  <div class="stake-details">
    <div>

      <ion-chip class="stake-apy">
        @if(stakeAccount){
        {{stakeAccount?.validator?.apy_estimate}}%
        }@else{
        <ion-skeleton-text style="width: 30px;" animated />
        }
      </ion-chip>


      @if(stakeAccount){
      <ion-icon (click)="presentPopover($event)" name="ellipsis-vertical"></ion-icon>
      }
    </div>

  </div>
</div>

<ng-template #toolTipTpl>

  <div class="tool-tip">
    <div style="text-transform: capitalize; display: flex;align-items: center;margin-block-end: 4px;font-weight: 600;color:#364152;"><span 
      style="width:12px;height: 12px;border-radius: 50%;margin-inline-end: 6px;"
      [style.background]="stakeAccountStatus[stakeAccount?.state]?.statusColor" 
      ></span> {{stakeAccountStatus[stakeAccount?.state]?.title}}</div>
    <div class="tool-tip-desc">{{stakeAccountStatus[stakeAccount?.state]?.desc}}</div>
  </div>
</ng-template>