:host{
    display: block;
        margin-block-end: 12px;
}
.stake-card {
    ion-icon{
        color: #697586;
        cursor: pointer;
      }
    border-radius: 12px;
    border: 1px solid #E3E8EF;
    background: #FFF;
    padding: 16px;
    display: flex;
    justify-content: space-between;

    .stake-info {
        display: flex;
        align-items: flex-start;
    }

    .validator-profile {
        margin-inline-end: 12px;

        ion-img,
        ion-skeleton-text {
            width: 40px;
            height: 40px;
            border-radius: 1000px;
            border: 0.75px solid rgba(0, 0, 0, 0.08);
        }

    }

    .validator-name {
        color: #121926;
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        margin-block-end: 2px;
    }

    .account-address {
        color: var(--colors-text-text-tertiary-600, #4B5565);
        font-size: 12px;
        line-height: 12px;
        margin-block-end: 8px;
        display: flex;
        align-items: center;
        ion-icon{
            margin-inline-start: 4px;
         
        }
    }

    .account-value {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        display: flex;
        .sol-amount {
            color: #121926;
            margin-inline-end: 2px;
        }

        .usd-value {
            color: #697586;
            font-weight: 400;
        }

    }
    .stake-details {
        display: flex;
        div{
            align-items: center;
            display: flex;
            height: 30px;
        }
        ion-chip {
            margin-block: 0;
            border-radius: var(--radius-full, 1000px);
            border: 1px solid var(--Component-colors-Utility-Gray-utility-gray-200, #E3E8EF);
            background: var(--Component-colors-Utility-Gray-utility-gray-50, #F8FAFC);
            color: var(--Component-colors-Utility-Gray-utility-gray-700, #364152);
            text-align: center;
            font-size: 12px;
            font-weight: 600;
            line-height: 14px;
          }
      
    }
    // .stake-header {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   margin-bottom: 10px;

    //   .stake-name {
    //     color: #000000; // Assuming black text color
    //     font-weight: bold;
    //     font-size: 1.2rem;
    //   }

    //   .stake-interest {
    //     background: #E1E3E6; // Light grey background for the interest rate
    //     border-radius: 5px;
    //     padding: 2px 5px;
    //     font-size: 0.9rem;
    //     color: #000000; // Assuming black text color
    //   }
    // }

    // .stake-details {
    //   .stake-address {
    //     color: #646464; // Grey color for the obscured address
    //     font-size: 0.9rem;
    //     margin-bottom: 5px;
    //   }

    //   .stake-balance {
    //     .crypto-amount {
    //       color: #000000; // Assuming black text color
    //       font-size: 1.1rem;
    //       font-weight: bold;
    //     }

    //     .usd-amount {
    //       color: #646464; // Grey color for USD amount
    //       font-size: 1rem;
    //     }
    //   }
    // }
}