:host {
    display: block;
    margin-block-end: 12px;
}

.stake-card {
    ion-icon {
        color: var(--ion-color-medium);
        cursor: pointer;
    }

    border-radius: 12px;
    border: 1px solid #E3E8EF;
    background: #FFF;
    padding: 16px;
    display: flex;
    justify-content: space-between;

    .stake-info {
        display: flex;
        align-items: flex-start;
    }

    .validator-profile {
        margin-inline-end: 12px;
        position: relative;

        ion-img,
        ion-skeleton-text {
            margin: 0;
            overflow: hidden;
            width: 40px;
            height: 40px;
            border-radius: 1000px;
            border: 0.75px solid rgba(0, 0, 0, 0.08);
        }

        .account-status {
            margin: 0;
            width: 12px;
            height: 12px;
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: var(--radius-full, 1000px);
            border: 1.5px solid #FFF;
            background: #C4C4C4;

            //     activating,deactivating,active,inactive
            &.active, &.delegationStrategyPool {
                background: #2970FF;
            }

            &.activating {
                background: #17B26A;
            }

            &.deactivating {
                background: #F79009;
            }
            &.directStake {
                background: var(--ion-color-primary);
            }
        }
    }

    .validator-name {
        color: var(--ion-color-text-2);
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        margin-block-end: 2px;
    }

    .account-address {
        color: var(--colors-text-text-tertiary-600, #4B5565);
        font-size: 12px;
        line-height: 12px;
        margin-block-end: 8px;
        display: flex;
        align-items: center;

        ion-icon {
            margin-inline-start: 4px;

        }
    }

    .account-value {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        display: flex;
        flex-wrap: wrap;
        .sol-amount {
            color: var(--ion-color-text-2);
            margin-inline-end: 2px;
        }

        .usd-value {
            color: var(--ion-color-medium);
            font-weight: 400;
        }

    }

    .stake-details {
        display: flex;

        div {
            align-items: center;
            display: flex;
            height: 30px;
        }

        ion-chip {
            margin-block: 0;
            border-radius: var(--radius-full, 1000px);
            border: 1px solid var(--Component-colors-Utility-Gray-utility-gray-200, #E3E8EF);
            background: var(--Component-colors-Utility-Gray-utility-gray-50, #F8FAFC);
            color:  var(--ion-color-dark);
            text-align: center;
            font-size: 12px;
            font-weight: 600;
        }

    }


}