.community-banner {
  margin-block-end: 20px;
  overflow: hidden;
  border-radius: 4px;
}
.loyal-member-container {
  .loyal-member {
    text-transform: capitalize;
    border-radius: var(--radius-xl, 12px);
    background: var(--ion-color-light);
    padding: 32px;
  }
  .quest-title {
    text-decoration: underline;
    cursor: pointer;
    color: var(--ion-color-primary);
}


  .member-stats {
    display: flex;
    #points-container {
        width: 100%;
    }
    .total-points {
      margin-bottom: 24px;
      &__title-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      &__title {
        display: flex;
        align-items: center;
        color: var(--ion-color-dark);
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.16px;
        line-height: 1;
        margin-bottom: 10px;

        ion-icon {
          color: var(--ion-color-warning);
          cursor: pointer;
          margin-left: 6px;
          font-size: 16px;
        }
      }

      &__value {
        justify-content: space-between;
        color: var(--ion-color-dark);
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 0.36px;
        line-height: 1;
        text-transform: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        span {
          margin-inline-end: 16px;
          min-width: 40%;
        }
        loyalty-badge{
            display: flex;
        }
      }
      ion-skeleton-text {
        width: 150px;
        height: 36px;
        border-radius: 4px;
        margin-inline-end: 6px;
    }
    }
    .divider{
       height: 100%;
       background-color: #E3E8EF;
       width: 1px;
       margin-inline:  50px;
    }
    .points-breakdown {
      &__title {
        color: #4B5565;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 12px;
      }

      &__grid {
        ion-col {
          margin-bottom: 16px;
        }
      }
    }

    .points-category {
      &__title {
        color: var(--colors-text-text-tertiary-600, #4B5565);
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        display: flex;
        align-items: center;
        ion-icon {
         
          cursor: pointer;
          margin-inline-start: 2px;
        }
      }

      &__value {
        line-height: 24px;
      }
    }
  }
}

.tooltip {
  &__header {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-weight: 600;
    color: var(--ion-color-dark);
  }

  &__icon {
    background-color: var(--ion-color-warning);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;
  }

  &__description {
    font-size: 14px;
  }
}


.hidden-content {
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    background: linear-gradient(90deg, #f0f0f0, #e0e0e0, #f0f0f0);

    // background: linear-gradient(200deg, #FF50C8 5.53%, #7100FF 88.66%, #8E00FF 88.66%), radial-gradient(100.27% 100.27% at 50% -0.27%, #000355 0%, #09001D 100%);
    background-size: 200% 100%;
    animation: shimmer 2s infinite;
    border-radius: 4px;
    cursor: pointer;
    .content {
      visibility: hidden;
      filter: blur(5px);
      transition: filter 0.5s ease;
    }
  
    &::before {
      content:"🧑‍🍳  🍳 ⏲️";
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    //   color: white;
    color: #888;
      text-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
  }
  
  .reveal-content {
    .hidden-content {
      background: none;
      animation: none;
      padding: 0;
      &::before {
        content: "";
      }
      
      .content {
        visibility: visible;
        filter: blur(0);
      }
    }
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  #community-member-code {
    display: flex;
    ion-label{
      color: var(--ion-color-primary);
      text-decoration: underline;
      cursor: pointer;
    }
    ion-input{
      min-height: 20px !important;
      height: 20px;
      width: 120px;
      border-radius: 4px;
      margin-inline-start: 4px;
      --padding-start: 5px !important;
      text-transform: capitalize;
      font-size: 11px;
  }
}

@media only screen and (max-width: 992px) {
    
    .member-stats{
        display: block !important;
    }
    .divider {
        width: 100% !important;
        height: 1px !important;
        margin-inline: 0 !important;
        margin-block: 25px !important;
    }
}
