<!-- lazy load codes component -->
<img class="ion-hide" src="/assets/images/ll/community-banner/ml.png" />

<div class="loyal-member-container">
  @if(communityBanner()){
  <div class="community-banner" [@slideInOut]>
   <ion-img [src]="'/assets/images/ll/community-banner/'+communityBanner()+'.png'" />
  </div>
  }

  <ion-row class="loyal-member">
    <ion-col size="12" sizeLg="5" class="member-stats">
      <div id="points-container">


        <div class="total-points">
          <div class="total-points__title-container">
            <ion-label class="total-points__title">
              Your Total Points
      
            @if((member$ | async)?.ambassadorPts; as member){
            <ion-icon [tooltip]="toolTipTpl" name="disc-outline"></ion-icon>
            <ng-template #toolTipTpl>
              <div class="tooltip">
                <div class="tooltip__header">
                  <span class="tooltip__icon"></span>
                  Ambassador program
                </div>
                <div class="tooltip__description">You have received {{(member$ | async)?.ambassadorPts | number:'1.0-0'
                  }} loyalty points boost as a SolanaHub Ambassador.</div>
              </div>
            </ng-template>
            }
          </ion-label>  
          <codes (communityCodeBanner)="communityBanner.set($event)" />
          </div>
          <div class="total-points__value">
            <span>
              @if(member$ | async; as member){
              @if(member.totalPts){
                {{member.totalPts | number:'1.0-0'}}
              <!-- <number-counter [targetNumber]="member.totalPts"
                [nextSnapshotTime]="member.lastUpdated" /> -->
              }@else{
              0
              }
              }@else{
              <ion-skeleton-text animated></ion-skeleton-text>
              }
            </span>
            <loyalty-badge [tiers]="tiers" [daysLoyal]="(member$ | async)?.daysLoyal" />
          </div>
        </div>

        <div class="points-breakdown">
          <h3 class="points-breakdown__title">Points breakdown</h3>
          <ion-row class="points-breakdown__grid">
            @for (category of pointCategories; track category.title) {
              <ion-col size="4">
                <div class="points-category">
                  <div class="points-category__title">{{ category.title }} <ion-icon [tooltip]="toolTipTpl" name="information-circle-outline"></ion-icon></div>
                  <ng-template #toolTipTpl>

                    <div class="tool-tip">
                      <div style="text-transform: capitalize; display: flex;align-items: center;margin-block-end: 4px;font-weight: 600;color:var(--ion-color-dark);">
                        <span 
                        style="background-color: var(--ion-color-primary);width:12px;height: 12px;border-radius: 50%;margin-inline-end: 6px;"
                        >
                      </span> 
                        {{category.title}} points</div>
                      <div class="tool-tip-desc">{{category.tooltip}}</div>
                    </div>
                  </ng-template>
                  <div class="points-category__value">
                    @if (member$ | async; as member) {
                      @if (member[category.key]) {
                        {{ member[category.key] | number:'1.0-0' }}
                      } @else {
                        0
                      }
                    } @else {
                      <ion-skeleton-text style="width: 50px;" animated></ion-skeleton-text>
                    }
                  </div>
                </div>
              </ion-col>
            }

            <!-- <ion-col size="12">
              <div class="points-category" 
                   [class.reveal-content]="hiddenPts() !== '🍳 🧑‍🍳 🍳 👨‍🍳 🍳'"
                   (click)="hiddenPts.set('More ways to earn points is cooking!')">
                <div class="hidden-content">
                  <span class="content">{{hiddenPts()}}</span>
                </div>
              </div>
            </ion-col> -->
            <div id="community-member-code">
        
            <!-- @if(showCodeInput()){
            <ion-input placeholder="INSERT YOUR CODE" (ionInput)="insertCode($event)"/>
            } -->
            </div>
          </ion-row>
        </div>
      </div>
      <div class="divider"></div>

    </ion-col>
    <ion-col size="12" sizeLg="7">
      <loyalty-path (openReferAFriendModal)="openReferAFriendModal()" [tiers]="tiers"
        [daysLoyal]="(member$ | async)?.daysLoyal" />
    </ion-col>
  </ion-row>
</div>