<div style="position: relative;" class="ion-padding">
  <div id="modal-intro">
    <div>

      <div class="icon-wrapper">
        <ion-img [src]="config.imgUrl" />
      </div>
      <div id="title">{{config.title}}</div>
      <div id="desc">{{config.desc}}</div>
    </div>

    <ion-img (click)="closeModal()" id="close-modal" src="assets/images/close-icon.svg" />
  </div>
  @switch (componentName) {
    @case ("validators-modal") {
    <validators-modal (onSelectValidator)="emittedValue.set($event)" [validatorsList]="data()" />
    }
    @case ("merge-modal") {
    <merge-modal [stakeAccounts]="data.stakeAccounts" [targetStakeAccount]="data.stakeAccount" (onAccountsSelected)="emittedValue.set($event)" />
    }
    @case ("split-modal") {
    <split-modal [targetStakeAccount]="data.stakeAccount" (onAmountSet)="emittedValue.set($event)" />
    }
    @case ("instant-unstake-modal") {
    <instant-unstake-modal  [targetStakeAccount]="data.stakeAccount" />
    }
    @case ("transfer-auth-modal") {
    <transfer-auth-modal [targetStakeAccount]="data.stakeAccount" (onAuthSet)="emittedValue.set($event)"/>
    }
  }
  <ng-container #containerBeforeTemplate></ng-container>

  <div id="modal-controls">
    <!-- <ion-button (click)="closeModal()" fill="clear">cancel</ion-button> -->
    <ion-button (click)="submit()" [disabled]="!emittedValue()">{{config.btnText}}</ion-button>
  </div>
</div>