ion-grid {
    transform: translateY(-70px);
}
#btns-container {
    margin-block: 10px;
    ion-button {
        text-transform: capitalize;
        --padding-bottom: 16px;
        --padding-top: 16px;
        --padding-start: 24px;
        --padding-end: 24px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        height: 52px;
        ion-icon {
            margin-inline-end: 10px;
        }
    }
    #faq-btn {
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        --color: var(--ion-color-dark);
        --background: var(--ion-color-light);
        --background-hover: var(--ion-color-page-top);
        --border-radius: 6px;
        --border-style: solid;
        --border-width: 1px;
        margin-block-start: 12px;
        --border-color: var(--ion-color-border);
        --box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
}
@media only screen and (max-width: 992px) {
#btns-container {
    display: flex;
    flex-direction: column;
}
}

#stat-wrapper {
    // transform: translateY(-100px);
    // height: 204px;
    margin-bottom: 20px;
    #net-worth {
        padding: 24px;
        border-radius: var(--radius-xl, 12px);
        background: var(--ion-color-menu);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

        .icon-wrapper {
            width: 48px;
            height: 48px;
            background-color: white;
            border-radius: var(--radius-lg, 10px);
            border: 1px solid var(--Component-colors-Components-Icons-Featured-icons-Modern-featured-icon-modern-border, #E3E8EF);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-block-end: 20px;
            animated-icon {
                width: 30px;
                height: 30px;
            }
        }

        .stat-title {
            color: var(--ion-color-dark);
            font-size: 13px;
            font-weight: 500;
            line-height: 18px;
            margin-block-end: 4px;
        }

        .stat-desc {
            color: var(--ion-color-hard-hard);
            font-size: 36px;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: -0.72px;
        }

        ion-img {
            width: 24px;
            height: 24px;
        }
    }
}


stash-table{
    display: block;
    margin-block-end: 20px;
}

@media only screen and (max-width: 992px) {
    // #stat-wrapper {
    //     transform: translateY(-70px);
    //     height: 204px;
    // }
    #net-worth{
        border-radius:  0 0 12px 12px !important;
    }
    #portfolio-breakdown{
        border-radius: 12px 12px 0 0  !important;
    }
}