<ion-content [fullscreen]="true">
  <page-header title="Stash" description="
  Discover innovative ways to maximize the potential of your idle assets on Solana.
    ">
    <div style="width: 100%;">
      @if(analyzeStage() === 1){
        <div id="btns-container">
          <ion-button fill="clear" id="faq-btn" (click)="openFaqPopOver()">How it works</ion-button>
        </div>
      }
    </div>


  </page-header>
  <ion-grid>
    @if(analyzeStage() === 0){
    <promo [estimateStashValue]="stashTotalUsdValue()" (onStartAnalyze)="getSavingData()" />
    }
    
   
   
    <div id="stash-wrapper" [hidden]="!hideStash() && analyzeStage() === 0">

    <ion-row id="stat-wrapper" class="ion-justify-content-between">
      <ion-col id="portfolio-breakdown" class="gap data-set" size="12" sizeXl="6.5">
        @if(assets()){
          <portfolio-breakdown [chartText]="'total stash'" [assets]="assets" />
        }
      </ion-col>
      <ion-col id="net-worth" class="gap data-set" size="12" sizeXl="5.4">
        <earning [refCode]="'asd21a'" />
      </ion-col>


    </ion-row>
    <div>

      @if(assets()){
        @for(stashItem of assets(); track stashItem.label) {
          <stash-table 
          
          class="ion-margin-bottom" 
          [stash]="stashItem" />
        }
      }
    </div>
   
    </div>
  </ion-grid>

</ion-content>
