

#cls-wrapper {

    .light-title {
        text-transform: capitalize;
        color: var(--ion-color-medium);
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        /* 138.462% */
    }

    
    #cls-selection {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #cls-text-wrapper {
            width: 85%;
        }

    }

    ion-toggle {
        --track-background: #EEF2F6;
        --handle-border-radius: 1000px;
        --border-radius: 1000px;
        --handle-height: 20px;
        --handle-width: 20px;

        &::part(track) {
            width: 44px;
            height: 24px;
        }
    }

    #custom-validator-selection {
        border-radius:  8px;
        border: 1px solid  #E3E8EF;
        background: #F8FAFC;
        padding-block-end: 4px;
        padding-block-start: 16px;
        padding-inline: 16px;
    }
}