<div id="positions-actions-wrapper">
  @if(stake.type === 'native'){

    @if(stake.state === 'active' || stake.state === 'activating'){
      <ion-button (click)="unStake()" expand="block" fill="clear">
        <div class="ion-text-left">
          <ion-icon name="arrow-up"></ion-icon>
          unstake
        </div>
      </ion-button>
    }
    @if(stake.state === 'inactive' || stake.state === 'deactivating'){
      <ion-button (click)="reStake()" expand="block" fill="clear">
        <div class="ion-text-left">
          <ion-icon name="arrow-down"></ion-icon>
          ReStake
        </div>
      </ion-button>
    }
    @if(stake.state === 'inactive'){
      <ion-button (click)="withdraw()" expand="block" fill="clear">
        <div class="ion-text-left">
          <ion-icon name="arrow-up"></ion-icon>
          withdraw stake
        </div>
      </ion-button>
    }
    
    
    
    <!-- @if(stake.state === 'active'){
      <ion-button (click)="openModal('instant-unstake-modal')" expand="block" fill="clear">
        <div class="ion-text-left">
          <ion-icon name="flash"></ion-icon>
          Instant UnStake
        </div>
      </ion-button>
    } -->
    @if(stake.state === 'active'){
      
      <ion-button (click)="openModal('delegate-lst-modal')" expand="block" fill="clear">
        <div class="ion-text-left">
          <span>
            <ion-icon name="water"></ion-icon>
          </span>
          delegate to liquid stake 
        </div>
      </ion-button>
    }
    <ion-button (click)="openModal('merge-modal')" expand="block" fill="clear">
      <div class="ion-text-left">
        <span>
          <ion-icon name="people"></ion-icon>
        </span>
        Merge accounts
      </div>
    </ion-button>
    <ion-button (click)="openModal('split-modal')" expand="block" fill="clear">
      <div class="ion-text-left">
        <span>
          <ion-icon name="people-circle"></ion-icon>
        </span>
        Split account
      </div>
    </ion-button>
    <ion-button (click)="openModal('transfer-auth-modal')" expand="block" fill="clear">
      <div class="ion-text-left">
        <span>
          <ion-icon name="paper-plane"></ion-icon>
        </span>
        transfer account Authority
      </div>
    </ion-button>
  }@else {
    <ion-button [routerLink]="'/swap/'+stake.symbol+'-SOL'" expand="block" fill="clear">
      <div class="ion-text-left">
        <ion-icon name="swap-vertical"></ion-icon>
        Immediately swap for SOL
      </div>
    </ion-button>
    @if(stake.pool.poolName != 'marinade'){

      <ion-button (click)="openModal('unstake-lst-modal')" expand="block" fill="clear">
        <div class="ion-text-left">
          <ion-icon name="arrow-up"></ion-icon>
          unstake
        </div>
      </ion-button>
    }
  }
  </div>