#positions-actions-wrapper {
    border-radius: 12px;
    border: 1px solid #E3E8EF;
    background: white;
    padding-block: 4px;
}

ion-button {
    margin-block-end: 1px;
    --color: var(--ion-color-dark);
    --box-shadow: 0 0 0;
    text-transform: capitalize;

    div {
        width: 100%;
        display: flex;
        ion-icon{
            margin-inline-end: 4px;
        }
    }
}