<div id="positions-actions-wrapper">
  <ion-button expand="block" fill="clear">
    <div class="ion-text-left">
      <ion-icon name="arrow-up"></ion-icon>
      unstake
    </div>
  </ion-button>
  <ion-button expand="block" fill="clear">
    <div class="ion-text-left">
      <ion-icon name="flash"></ion-icon>
      Instant Unstake
    </div>
  </ion-button>
  <ion-button expand="block" fill="clear">
    <div class="ion-text-left">
      <ion-icon name="people"></ion-icon>
      Merge Accounts
    </div>
  </ion-button>
  <ion-button expand="block" fill="clear">
    <div class="ion-text-left">
      <ion-icon name="people-circle"></ion-icon>
      Split Account
    </div>
  </ion-button>
  <ion-button expand="block" fill="clear">
    <div class="ion-text-left">
      <ion-icon name="paper-plane"></ion-icon>

        transfer Account Authority
     
    </div>
  </ion-button>
</div>