<div style="padding: 20px 32px;">

  <div id="assets-title">
    Latest Transactions
  </div>
  <div id="assets-sub">
    Quickly see a summary of your most recent transactions at a glance.
  </div>
</div>
<app-mft 
  [searchBoxEnable]="true"
  (onRowClicked)="eventEmitted($event)"
  [tableColumns]="columns"
  [tableData]="tableData"
   ></app-mft>
   <ng-template #dateTpl let-row let-rowIndex="rowIndex" let-column="column">
    <div class="date">
      <div>{{row.date.date}}</div>
      <div>{{row.date.time}}</div>
    </div>
  </ng-template>

  <ng-template #opr1Tpl let-row let-rowIndex="rowIndex" let-column="column">
    <div class="operation">
      <div class="in">
        <span style="color: var(--ion-color-success);">{{row.operation.in.amount}}</span> <span>{{row.operation.in.token}}</span>
      </div>
      @if(row.operation.in.amount){
        <div class="divider">
          <ion-img [src]="row.operation.icon"></ion-img>
        </div>
      }

      <span style="color: var(--ion-color-danger);">{{row.operation.out.amount}}</span> <span>{{row.operation.out.token}}</span>
      @if(!row.operation.in.amount){
        <div class="divider">
          <ion-img [src]="row.operation.icon"></ion-img>
        </div>
      }
    </div>
  </ng-template>

  <ng-template #typeTpl let-row let-rowIndex="rowIndex" let-column="column">
    <ion-chip [color]="row.type.color">{{row.type.event}}</ion-chip>
  </ng-template>
  <ng-template #redirectTpl let-row let-rowIndex="rowIndex" let-column="column">
    <div class="tx-out">
      <a target="_blank" [href]="row.txUrl"> <ion-img src="assets/icon/link.svg"></ion-img> </a>
    </div>
  </ng-template>