
<app-mft 
[tableId]="'tx-history'"
[label]="'Latest Transactions'"
[desc]="'Quickly see a summary of your most recent transactions at a glance.'"
  [searchBoxEnable]="true"
  (onRowClicked)="eventEmitted($event)"
  [tableColumns]="columns"
  [tableData]="tableData"
   ></app-mft>
   <ng-template #dateTpl let-row let-rowIndex="rowIndex" let-column="column">
    <div class="date">
      <div class="">{{row.blockTime | date: 'dd/MM/yyyy'}}</div>
      <div>{{row.blockTime | date: 'HH:mm'}}</div>
    </div>
  </ng-template>

  <ng-template #opr1Tpl let-row let-rowIndex="rowIndex" let-column="column">
    <div class="operation">
      @for (token of row.balanceChange; track $index) {
        <div class="balance-change">
          
          <ion-img [src]="token.logoURI"/>
          <span  class="asset-value" [class.negative]="token.amount < 0" >{{token.amount | number: '1.1-5'}}</span>
          <span>{{token.symbol || 'unknown'}}</span>
          
        </div>
      }

    </div>
  </ng-template>

  <ng-template #typeTpl let-row let-rowIndex="rowIndex" let-column="column">
    <ion-chip class="ion-text-capitalize" [ngClass]="{
      'defi': row.mainAction.toLowerCase() !== 'unknown',
      'send': row.mainAction.toLowerCase() === 'send',
      'received': row.mainAction.toLowerCase() === 'received',
  }">{{row.mainAction}}</ion-chip>
  </ng-template>
  <ng-template #redirectTpl let-row let-rowIndex="rowIndex" let-column="column">
    <div class="tx-out">
      <a target="_blank" [href]="'https://solscan.io/tx/'+row.txHash"> <ion-img src="assets/icon/link.svg"></ion-img> </a>
    </div>
  </ng-template>