

.date {
    text-align: left;
}
ion-img {
    width: 16px;
    height: 16px;
}
.divider {
    margin-inline: 6px;
}
.operation {
    display: flex;
    span {
        margin-inline: 1px;
    }
}
ion-chip{
    font-weight: 500;
}
.tx-out {
    display: flex;
    justify-content: center;
}