
app-search-box {
  margin-block-end: 16px;
  display: block;
}

#table-head {
  text-transform: capitalize;
  color: var(--ion-light-gray);
  font-size: 11px;
  font-weight: 500;
  display: flex;
  padding: 0 20px 8px;
}

cdk-virtual-scroll-viewport {
  height: 50vh;
  width: 100%;
}

.validator {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--ion-color-border);
  margin-block-end: 8px;

  &.selected {
    border: 2px solid var(--ion-color-primary);

    ion-chip {
      border: 1px solid #F1D5EB !important;
      background: var(--ion-color-card-bg) !important;
      color: var(--ion-color-primary) !important;
    }
  }

  cursor: pointer;

  .validator-profile {
    display: flex;
    align-items: center;
    flex: 3.3;
    position: relative;
    div {
      display: flex;
      flex-direction: column;
    }

    ion-img,ion-skeleton-text {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      margin-inline-end: 12px;
    }
    ion-skeleton-text{
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
  }
    ion-label {
      color:  var(--ion-color-dark);
      font-size: 13px;
      font-weight: 500;
      line-height: 18px;
    }

    ion-text {
      color:  var(--ion-light-gray);
      font-size: 11px;
      line-height: 16px;
      /* 145.455% */
    }

  }

  .validator-stats {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;

    .commission {
      padding-inline-start: 24px;
      color: var(--ion-light-gray);
      font-size: 13px;
      line-height: 18px;
      /* 138.462% */
    }

    div {
      width: 50%;
      text-align: center;
    }

    ion-chip {
      border-radius: var(--radius-full, 1000px);
      border: 1px solid var(--Component-colors-Utility-Gray-utility-gray-200, var(--ion-color-border));
      background: var(--Component-colors-Utility-Gray-utility-gray-50, var(--ion-background-color));
      color: var(--ion-color-dark);
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
    }
  }
}

