<div class="ion-padding" id="validators-modal">
  <div id="validator-selection-intro">
    <div>

      <div class="icon-wrapper">
        <ion-img src="assets/images/validators-icon.svg" />
      </div>
      <div id="title">Select Validator</div>
      <div id="desc">Pick the right validator for you</div>
    </div>
      
    <ion-img (click)="closeModal()" id="close-modal" src="assets/images/close-icon.svg" />
  </div>

  <app-search-box (search)="searchItem($event)" [value]="searchTerm()" [placeholder]="'Search a validator'" />
  <div id="table-head">
    <div style="flex:3;">validator</div>
    <div style="flex:1;text-align: center;">APY</div>
    <div  style="flex:1;text-align: center;">commission</div>
  </div>
  <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350">
    <div>
      <div [class.selected]="validator === selectedValidator"  class="validator" (click)="selectValidator(validator)" *cdkVirtualFor="let validator of filteredValidators(); let i = index;">
        <div class="validator-profile">
        
            <ion-img [src]="validator.image" />
        
          <div>
            <ion-label> {{validator.name}}</ion-label>
            <ion-text>{{validator.activated_stake | number:'1.0-2'}}</ion-text>
          </div>
        </div>
        <div class="validator-stats">
          <div>
            <ion-chip>{{validator.apy_estimate}}%</ion-chip>
          </div>
          <div class="commission">
           {{validator.commission}}%
          </div>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
  <div id="validator-controls">
    <ion-button (click)="closeModal()" fill="clear">cancel</ion-button>
    <ion-button (click)="closeModal()" color="primary" [disabled]="!selectedValidator">select validator</ion-button>
  </div>
</div>