#nft-feature-toast {
    background-color: white;
    padding: 12px 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

#controls {
    ion-button {
        min-width: 135px;
        text-transform: capitalize;
        color: var(--ion-color-dark);
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        margin-inline-end: 12px;
        border-radius: var(--radius-sm, 6px);
        --border-color: #CDD5DF;
        --background: #FFF;
        --border-width: 1px;
        --border-style: solid;
        --border-radius: 6px;

        ion-text {
            margin-inline-start: 6px;
        }

        &#burn-nfts {
            color: white;
            --ion-color-contrast: white !important;
            --border-color:#B42318;
        }

    
    }
}

#nfts-alert {
    text-transform: capitalize;
    --border-radius: 6px;
    --border-color: #CDD5DF;
    --background: #FFF;
    --border-width: 1px;
    --border-style: solid;
    --color: var(--ion-color-dark);
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    min-height: 20px;
    --padding-bottom: 0;
    --padding-top: 0;
}
@media only screen and (max-width: 992px) {
ion-button {
    min-width: 40px !important;
}
}