<div id="nft-feature-toast">
  <div id="controls" >
    @if(nfts.length === 1){
    <ion-button id="list-nft" (click)="openModal('list-nft-modal')">
      <ion-img src="assets/images/list-icon.svg" />
      List NFT
    </ion-button>
    }
    <ion-button id="send-nfts" (click)="openModal('send-nft-modal')">
      <ion-img src="assets/images/send-icon.svg" />
      send {{nfts.length}} NFT{{nfts.length > 1 ? 's' : ''}}
    </ion-button>
    <ion-button color="danger" id="burn-nfts" (click)="openModal('burn-nft-modal')">
      <ion-img src="assets/images/trash-white-icon.svg" />
      burn {{nfts.length}} NFT{{nfts.length > 1 ? 's' : ''}}
    </ion-button>
  </div>
  <ion-button id="nfts-alert">

      {{nfts.length}} NFT{{nfts.length > 1 ? 's' : ''}} selected

  </ion-button>
</div>