:host {
    padding: 12px 32px;
    border-top: 1px solid var(--gray-modern-100, #EEF2F6);
    display: block;
}

ion-button {
    height: 36px;
    --background: white;
    text-transform: capitalize;
    color: var(--gray-modern-700, #364152);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-inline-end: 8px;
    /* 153.846% */
}

.active {
    border-radius: var(--radius-sm, 6px);
    --background: #FFF3FB;
    color: var(--ion-color-primary)
}