<div id="container">
  <div id="promo-box">
    
      <div class="inner">
        
        <div id="img-wrapper">
          <ion-img id="hubbie-dark" src="/assets/images/hubbie.svg"/>
          <ion-img id="arrow-icon" src="/assets/images/arrow-aside-icon.svg"/>
          <ion-img src="/assets/images/hubbie-agent.svg"/>
        </div>
        <ion-label>
          Hubbie agent
        </ion-label>
        <ion-text> 
          Powerful insights on your portfolio and network state
        </ion-text>
        <div id="btn-wrapper">
          <ion-button (click)="useAgent()">Start using Hubbie</ion-button>
        </div>
      </div>
    
    

 
  </div>
</div>