.ripple-parent {
    position: relative;
    overflow: hidden;
    border-radius: 1px;
}
.badge {
    cursor: pointer;
    padding: 2px 8px 3px;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Gray-utility-gray-200, #EAECF0);
    background: var(--Component-colors-Utility-Gray-utility-gray-50, #F9FAFB);
    text-align: center;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
    width: fit-content;
    &.primary {
        border: 1px solid #FDD1EE;
        background: #FFF3FB;
        color: #763261;
    }
    &.secondary {
        border: 1px solid  var(--ion-color-secondary);
        background: #f5f2f9;
        color: var(--ion-color-secondary);
    }
    &.active {

        border: 1px solid #ABEFC6;
        background: #ECFDF3;
        color: var(--ion-color-success);

    }
    &.focus {
        border: 1px solid var(--Component-colors-Utility-Blue-utility-blue-200, #B2DDFF);
        background: var(--Component-colors-Utility-Blue-utility-blue-50, #EFF8FF);
        color: #175CD3;
    }
    &.danger {
        border: 1px solid var(--Component-colors-Utility-Red-utility-red-200, #FECDCA);
        background: var(--Component-colors-Utility-Red-utility-red-50, #FEF3F2);
        color: #B42318;
    }
}