<div id="actions-wrapper">

  <ion-button (click)="selectSort('price-up')" expand="block" fill="clear">
    <div class="ion-text-left">
      price(low to high)
    </div>
  </ion-button>
  <ion-button (click)="selectSort('price-up')" expand="block" fill="clear">
    <div class="ion-text-left">
      price(high to low)
    </div>
  </ion-button>
  <ion-button (click)="selectSort('price-up')" expand="block" fill="clear">
    <div class="ion-text-left">
      newest
    </div>
  </ion-button>
</div>