.light-title {
    text-transform: capitalize;
    color: #344054;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-block-end: 8px;
    /* 138.462% */
}
#stake-options,
.inliner {
    display: flex;
    justify-content: space-between;
}
.inliner {
    margin-block-end: 16px;
}
ion-radio{

    &.radio-checked{
        border-color: var(--ion-color-primary);
        flex-direction: row;
        align-items: flex-start;
    }
    
    &::part(container) {
        position: absolute;
        top: 0;
        right: 0;
    }

}
.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}
.stake-type {
    padding: 16px;
    border-radius: 12px;
    border: 2px solid #E3E8EF;
    transition: 0.3s ease all;
    cursor: pointer;
    height: 100%;
    width: 100%;


  
    .icon-wrapper {
        display: flex;
        padding: 10px;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #E3E8EF;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

        ion-img {
            width: 20px;
            height: 20px;
        }
    }

    .type-title {
        color: #121926;
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        margin-block-end: 2px;
    }


}

.type-desc {
    color: var(--ion-color-medium);
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
}
