<div id="stake-path">
  <div class="light-title">Select Staking path</div>

  <ion-radio-group id="stake-options" value="native" (ionChange)="selectPath($event)">
    <ion-row class="ion-justify-content-between">
      <ion-col size="12" sizeXl="5.9">
        <ion-radio mode="md" class="stake-type wrapping-list" value="native">
          <div class="inliner">
            <div class="icon-wrapper">
              <ion-img src="assets/images/lock-icon.svg" />
            </div>

          </div>
          <div>

            <div class="type-title">Native Staking</div>
            <ion-label class="ion-text-wrap type-desc">
              self custodial stake: get stake account in return and enjoy risk-free staking.
            </ion-label>
          </div>
        </ion-radio>
      </ion-col>
      <div style="width: 100%;margin-bottom: 8px;" class="ion-hide-lg-up"></div>

      <ion-col size="12" sizeXl="5.9">


        <ion-radio mode="md" class="stake-type wrapping-list" value="liquid">
          <div class="inliner">
            <div class="icon-wrapper">
              <ion-img src="assets/images/droplets-icon.svg" />
            </div>
          </div>
          <div>

            <div class="type-title">Liquid Staking</div>

            <ion-label class="ion-text-wrap type-desc">
              Enjoy effortless delegation to top-performing validators in an automated stake pool.
            </ion-label>


          </div>
        </ion-radio>
      </ion-col>
    </ion-row>
  </ion-radio-group>

</div>