<div id="loyalty-path-container">
  <div id="loyalty-path-header" >
    <div>
    <div id="loyalty-path-header-title">Ranking tiers</div>
    <div id="loyalty-path-header-subtitle">
     
        <span id="days-remaining">
          @if (daysRemainingToNextTier) {
            {{daysRemainingToNextTier}} 
            
          } @else {
            <ion-skeleton-text animated></ion-skeleton-text>
          } days left
        </span> 
        <div style="display: flex;">
          <span id="to">To</span> 
          <div id="tier-name" [ngStyle]="{'color': getColor(nextTier?.title)}">{{nextTier?.title}}</div>
        </div>
   
      <!-- <div id="next-tier-icon">
        <ion-img [src]="nextTier?.iconFull"></ion-img>
      </div> -->
    </div>
  </div>
    <div id="referral-btn">
      <ion-button (click)="openReferAFriendModal.emit()">
        <ion-img src="assets/images/ll/users-plus.svg" />
        <span class="ion-hide-md-down">
          Refer a friend
        </span>
      </ion-button>
    </div>
  </div>
  <div id="loyalty-path-body">  
    @for (tier of tiers; track tier.title) {
      <div class="tier-container" 
           [ngStyle]="{'filter': 'grayscale(' + (!isTierSurpassed(tier) ? 1 : 0) + ')'}"
           [ngClass]="getTierContainerClasses(tier)">
        <div class="tier-icon"><ion-img [src]="tier.iconFull"></ion-img></div>
        <div class="tier-title" [ngStyle]="{'color': getColor(tier.title)}">{{tier.title}}</div>
        <div class="tier-points">+{{tier.points}} pts</div>
      </div>
    }
  </div>
</div>