<div id="loyalty-path-container">
  <div id="loyalty-path-header" >
    <div>
    <div id="loyalty-path-header-title">Ranking tiers</div>
    <div id="loyalty-path-header-subtitle">
     
        <span id="days-remaining">
          @if (daysLoyal) {

            @if (daysRemainingToNextTier) {
              {{daysRemainingToNextTier}} 
              
            } @else {
              <ion-skeleton-text animated></ion-skeleton-text>
            } 
          }
          @else {
            0
          } days left
        </span> 
        <div style="display: flex;">
          <span id="to">To</span> 
          <div id="tier-name" [ngStyle]="{'color': getColor(nextTier?.title)}">{{nextTier?.title || 'Degen'}}</div>
        </div>
   
      <!-- <div id="next-tier-icon">
        <ion-img [src]="nextTier?.iconFull"></ion-img>
      </div> -->
    </div>
  </div>
    <div id="referral-btn">
      <ion-button (click)="openReferAFriendModal.emit()">
        <ion-img src="assets/images/ll/users-plus.svg" />
        <span class="ion-hide-md-down">
          Refer a friend
        </span>
      </ion-button>
    </div>
  </div>
  <div id="loyalty-path-body" #loyaltyPathBody>  
    @for (tier of tiers; track tier.title; let i = $index) {
      <div class="tier-container" 
           [ngStyle]="{'filter': 'grayscale(' + (daysLoyal === null ? 1 : !isTierSurpassed(tier) ? 1 : 0) + ')'}"
           [ngClass]="daysLoyal === null ? 'tier-next-completed' : getTierContainerClasses(tier)">
        <div class="tier-icon"><ion-img [src]="tier.iconFull"></ion-img></div>
        <div class="tier-title" [ngStyle]="{'color': getColor(tier.title)}">{{tier.title}}</div>
        @if(tier.title !== 'degen'){
          <div class="tier-points">+{{tier.points | number:'1.0-0' }} pts</div>
        }
      </div>
    }
  </div>
</div>