<div class="dao-group data-set">
  <div class="dao-group-head ion-padding">

    @if(!DAO){
    <ion-skeleton-text class="temp-img" [animated]="true" />
    <ion-skeleton-text id="text" [animated]="true" />
    }@else{
    <ion-img [src]="DAO?.imgURL" />
    <ion-label>{{DAO?.name}}</ion-label>
    }
  </div>
  <ion-row class="dao-group-body">

    @for (proposal of DAO?.proposals; track $index) {
    <ion-col size="12" sizeLg="6">
      {{proposal | json}} runs
      <proposal-preview [proposal]="proposal" /> <proposal-preview />
    </ion-col>
    }@empty {
    <ion-col size="12" sizeLg="6">
      <proposal-preview></proposal-preview>
    </ion-col>
    <ion-col size="12" sizeLg="6">
      <proposal-preview></proposal-preview>
    </ion-col>
    }

  </ion-row>
</div>