<div class="gov-group data-set">
  <div class="gov-group-head ion-padding">

    @if(!gov){
    <ion-skeleton-text class="temp-img" [animated]="true" />
    <ion-skeleton-text id="text" [animated]="true" />
    }@else{
    <ion-img [src]="gov?.imgURL" />
    <ion-label>{{gov?.name}}</ion-label>
    }
  </div>
  <ion-row class="gov-group-body">

    @for (proposal of gov?.proposals; track $index) {
    <ion-col size="12" sizeLg="6">
      <proposal-preview [proposal]="proposal" /> 
    </ion-col>
    }@empty {
    <ion-col size="12" sizeLg="6">
      <proposal-preview></proposal-preview>
    </ion-col>
    <ion-col size="12" sizeLg="6">
      <proposal-preview></proposal-preview>
    </ion-col>
    }

  </ion-row>
</div>