<div class="gov-group data-set">
  <div class="gov-group-head ion-padding">

    @if(!gov){
    <ion-skeleton-text class="temp-img" [animated]="true" />
    <ion-skeleton-text id="text" [animated]="true" />
    }@else{
      <div>
        <ion-img [src]="gov?.logoURI" />
        <ion-label>{{gov?.name}}</ion-label>

      </div>
      <a [href]="'https://app.realms.today/dao/'+ gov.realmsId" target="_blank">
        <div class="gov-total-prop">{{gov.proposals.length}} proposals available</div>
      </a>
    }
  </div>
  <ion-row class="gov-group-body">

    @for (proposal of gov?.proposals; track $index) {
      @if ($index < 2) {

        <ion-col size="12" sizeLg="6">
          <proposal-preview [proposal]="proposal" /> 
        </ion-col>
      }
    }@empty {
    <ion-col size="12" sizeLg="6">
      <proposal-preview></proposal-preview>
    </ion-col>
    <ion-col size="12" sizeLg="6">
      <proposal-preview></proposal-preview>
    </ion-col>
    }

  </ion-row>
</div>