#portfolio-menu {
  margin-block-start: 20px;
}

#portfolio-menu-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 20px;
  align-items: center;
}

#portfolio-menu-header-title {
  color: var(--ion-color-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

#portfolio-menu-header-button {

  #portfolio-menu-header-button-add {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px dashed var(--ion-light-gray);
  }

  ion-icon {
    color: var(--ion-light-gray);
  }
}

#portfolio-menu-header-subtitle {
  color: var(--ion-light-gray);
  font-size: 13px;
}