<div id="portfolio-menu">
  <div id="portfolio-menu-header">
    <div id="portfolio-menu-header-titles">
      <div id="portfolio-menu-header-title">
        Connected wallets
      </div>
      <div id="portfolio-menu-header-subtitle">
        You can connect up to 2
      </div>
    </div>
    @if(canAddWallet()) {
    <div id="portfolio-menu-header-button">
      <div id="portfolio-menu-header-button-add" (click)="openPortfolioSetup()">
        <ion-icon name="add-outline"></ion-icon>
      </div>
    </div>
    }
  </div>
  @for (wallet of walletsPortfolio(); let i = $index; track i) {
  <portfolio-box 
  [isPrimary]="wallet.walletAddress === connectedWalletAddress" 
  [wallet]="wallet" 
  (delete)="delete($event)" 
  (toggle)="toggle($event)"
   (update)="openPortfolioSetup($event)"
   (reload)="reload($event)" />
  }

  @if(spinnerState()) {
    <portfolio-box />
  }
</div>
