ion-button{
    height: 100%;
    border: 1px solid var(--gray-modern-200, #E3E8EF);
    width: 55px;
    margin-inline-start: 4px;
    --background:transparent;
}
animated-icon {
    width: 22px;
    height: 22px;
  }