ion-button{
    height: 52.7px;
    border: 1px solid var(--gray-modern-200, #E3E8EF);
    width: 45px;
    --width: 45px;
    margin-inline-start: 4px;
    --background: transparent;
    display: flex;
    justify-content: center;
    --background-activated: transparent;
    --background-hover: transparent;
    --background-focused: transparent;
}
animated-icon {
    width: 20px;
    height: 20px;
  }