ion-img {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin-inline-end: 12px;
}

ion-lable {
    color: var(--colors-text-text-primary-900, #101828);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}