<div id="not-connected-box">
      
  <div id="img-wrapper">
    <ion-img src="/assets/images/bg-wallet-no-connected.svg"/>
  </div>
  <ion-label>
    dApps notifications
  </ion-label>
  <ion-text>
    get notifications related to your activity within the most powerful dapps on Solana
  </ion-text>
  <div id="btn-wrapper">
    Subscribe
  </div>
  <!-- <p style="text-align: center; font-size: 11px;opacity: 0.7;">By connect your wallet you agree to SolanaHub <a style="text-decoration: none;" href="https://docs.solanahub.app/solanahub/solanahub-terms-and-conditions"target="_blank">Terms &amp; Conditions</a></p> -->
</div>