#pm-title {
    color: var(--ion-color-hard-hard);
    font-size: 18px;
    font-weight: 600;
    margin-block-end: 11px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
.points-multiplier {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.m {
    display: flex;
    flex-direction: column;
    margin-block-end: 6px;
    align-items: center;
    .key {
        color: var(--colors-gray-modern-500, #697586);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        width: 32px;

    }

    .value {
        color: var(--colors-gray-modern-800, #202939);
        font-size: 12px;
        cursor: pointer;
        font-weight: 600;
        line-height: 14px;
        margin-block-end: 12px;
    }

    .bonus {
        cursor:auto;
        color: var(--brand-600, #B84794);
    }
}
// .stake-boost-tool-tip{
//     border-bottom: 2px dashed var(--ion-color-primary);
// }
ion-skeleton-text{
    margin: 0;
    width: 15%;
    height: 14px;
    border-radius: 4px;
}

#loyalty-league-info {
    padding-block: 30px;
    margin: 0 auto;
}

#calc-boost{
cursor: pointer;
ion-icon{
    color:var(--ion-color-secondary);
}
}
