<div id="pm-title">points multiplier
  <!-- <div id="learn-more-link">
    <a href="https://docs.solanahub.app/solanahub/loyalty-league" target="_blank">FAQ</a>
  </div> -->
</div>

@for (score of sbm$ | async ; track $index) {
<div class="m">
  <div class="key" [class.bonus]="score.name == 'Referrals' || score.name == 'Hub domain holder'">{{score.name}}</div>
  @if(score.multiplier){
  @if(score.name != 'Referrals' && score.name != 'Hub domain holder'){
  <div class="value" [ngClass]="{'stake-boost-tool-tip': score?.stakeBoost}"
    [tooltip]="score?.stakeBoost ? stakeBoost : null">
    {{score.multiplier}}
  </div>
  }@else {
  <div class="value bonus" [ngClass]="{'stake-boost-tool-tip': score?.stakeBoost}">
    {{score.multiplier}}
  </div>
  }

  <ng-template #stakeBoost>
    Stake boost: {{score.stakeBoost | percent: '1.1-2' }}
  </ng-template>

  }@else {
  <ion-skeleton-text [animated]="true" />
  }
</div>
}