#pm-title {
    color: var(--ion-color-hard-hard);
    font-size: 14px;
    font-weight: 600;
    margin-block-end: 11px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}

.m {
    display: flex;
    justify-content: space-between;
    margin-block-end: 6px;

    .key {
        color: var(--colors-gray-modern-500, #697586);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
    }

    .value {
        color: var(--colors-gray-modern-800, #202939);
        text-align: right;
        font-size: 12px;
        cursor: pointer;
        font-weight: 600;
        line-height: 14px;
        /* 116.667% */
    }

    .bonus {
        cursor:auto;
        color: var(--brand-600, #B84794);
    }
}
.stake-boost-tool-tip{
    border-bottom: 2px dashed var(--ion-color-primary);
}
ion-skeleton-text{
    margin: 0;
    width: 15%;
    height: 14px;
    border-radius: 4px;
}

#loyalty-league-info {
    padding-block: 30px;
    margin: 0 auto;
}

#calc-boost{
cursor: pointer;
ion-icon{
    color:var(--ion-color-secondary);
}
}
