<div id="pm-title">points multiplier
 
    <ion-button size="small" [disabled]="!prizePool" id="calc-boost" (click)="showCalcBoost($event)" fill="clear">
      <ion-icon  name="calculator-outline"></ion-icon>
    </ion-button>

</div>

@for (score of sbm$ | async ; track $index) {
<div class="m">
  <div class="key" [class.bonus]="score.name == 'Referrals' || score.name == 'Hub domain holder'">{{score.name}}</div>
  @if(score.multiplier){
  @if(score.name != 'Referrals' && score.name != 'Hub domain holder'){
  <div class="value" [ngClass]="{'stake-boost-tool-tip': score?.stakeBoost}"
    [tooltip]="score?.stakeBoost ? stakeBoost : null">
    {{score.multiplier}}
  </div>
  }@else {
  <div class="value bonus" [ngClass]="{'stake-boost-tool-tip': score?.stakeBoost}">
    {{score.multiplier}}
  </div>
  }

  <ng-template #stakeBoost>
    Stake boost: {{score.stakeBoost | percent: '1.1-2' }}
  </ng-template>

  }@else {
  <ion-skeleton-text [animated]="true" />
  }
</div>
}