<div class="proposal ion-padding">
  <div class="prop-head ion-padding">
    <div class="prop-info">
      <div>

        <span>
          {{proposal?.title}}
          @if(!proposal){
            <ion-skeleton-text style="width: 60%;" [animated]="true" />
          }
        </span>

        <ion-button>
          {{proposal?.expiryDate | timeDiff}}
          @if(!proposal){
            <ion-skeleton-text style="width: 30px;" [animated]="true" />
          }
        </ion-button>
      </div>
      <ion-chip color="secondary">
        {{proposal?.status}}
        @if(!proposal){
          <ion-skeleton-text style="width: 30px;" [animated]="true" />
        }
      </ion-chip>
    </div>
   
  </div>
  <div class="prop-body ion-padding">
    <div class="total-votes">

      <div class="votes">
        <ion-label>Yes votes</ion-label>

        <ion-text>
          {{proposal?.votes?.for | number}} 
          @if(!proposal){
            <ion-skeleton-text style="width: 40px;" [animated]="true" />
          }
          <small>{{proposal?.votes?.for / proposal?.votes?.total  }}</small></ion-text>
      </div>
      <div class="votes">
        <ion-label>no votes</ion-label>
        <ion-text>
          {{proposal?.votes?.against | number}} 
          @if(!proposal){
            <ion-skeleton-text style="width: 40px;" [animated]="true" />

          }
          <small>{{proposal?.votes?.total / proposal?.votes?.against }}</small></ion-text>
      </div>
    </div>
    <div class="vote-bar">
      @if(!proposal){
        <ion-skeleton-text [animated]="true" />
      }
      <!-- <ion-progress-bar [value]=" proposal?.votes?.against / proposal?.votes?.for"></ion-progress-bar> -->
    </div>
  </div>
</div>