#debridgeWidget{
    padding-inline: 2vw;
    transform: translateY(-70px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.debridge-widget-iframe{
    border-radius: 8px;
}