.addr-item {
  display: flex;
  align-items: center;

  ion-icon {
    margin-inline-start: 8px;
    font-size: 12px;
    cursor: pointer;
  }
}

.tier-icon {
  width: 32px;
  margin-inline-end: 8px;
}

:host ::ng-deep app-mft {
  table .ngx-table__header-cell:first-child, table tbody > tr > td:first-child {
    padding-inline-start: 0;
  }
}